@font-face {
  font-family: Typewriter;
  src: url('MonospaceTypewriter.ttf');
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

:root {
  --color-light: #FFFFFF;
  --color-medium: #AEAEAE;
  --color-dark: #1d1b22;
  --color-accent-1: #E64C66;
  --color-accent-2: rgb(223, 80, 80);
  --color-good: #1bbb36;
  --color-good-dark: #138626;
}


#page {
  width: 1050px;
  height: 700px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  font-family: Typewriter, serif;
  background-color: #111014;
}

.sidebar {
  width: 250px;
}

.resource {
  height: 58px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark);
  border-right: 1px solid var(--color-accent-2);
  border-bottom: 1px solid var(--color-accent-2);
}

.resource img {
  height: 20px;
}

.resource h2 {
  margin: 0;
  color: var(--color-accent-2);
  font-size: 1.3em;
  padding-left: 10px;
}

.resource-information {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 0 5px;
  font-size: 0.9em;
}

.resource-per-second {
  font-size: 0.7em;
  color: white;
  padding-left: 10px;
}

.resource-name {
  font-size: 0.9em;
}

#ip { color: #B67F33 }
#ep { color: #B341E0 }

.tab-buttons {
  position: relative;
}

.tab-button {
  height: 52px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark);
  border-right: 1px solid var(--color-accent-2);
  border-bottom: 1px solid var(--color-accent-2);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.6em;
}

.tab-button.infinity {
  background-color: black;
  color: #B67F33;
}

.tab-button.eternity {
  background-color: black;
  color: #B341E0;
}

.tab-button.shop {
  background-color: #bba11b;
}

.game-container {
  width: 100%
}

.quote {
  width: 80%;
  margin: 10px auto;
  border: 1px solid var(--color-accent-2);
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 6px 0;
}

.subtabs {
  position: absolute;
  top: -1;
  right: -52px;
  margin-right: 1px;
}

.subtab {
  height: 52px;
  width: 52px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark);
  border: 1px solid var(--color-accent-2);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.6em;
}

.subtab:not(:first-child) {
  border-top: none;
}

.subtab:first-child {
  height: 53px
}

.active {
  background-color: #2c2933;
}

.dimensions-container {
  padding: 20px 50px;
  padding-left: 90px;
}

.dimension-row {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

.dimension-row:nth-child(even) {
  background-color: rgba(223, 80, 80, 0.3);
}

.dimension-row h3 {
  font-size: 1.8em;
  display: flex;
  align-items: center;
  margin: 0;
}

.dimension-row h3 .mult {
  font-size: 0.6em;
  margin-left: 10px;
}

.dimension-row span {
  font-weight: bold;
}


.storebtn {
  background-color: var(--color-dark);
  border: 1px solid var(--color-good);
  padding: 10px;
  color: white;
  font-family: Typewriter, serif;
  border-radius: 5px;
  position: relative;
  width: 175px;
  height: 47px;
}

.button-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.fill1 {
  height: 100%;
  width: 20%;
  background-color: var(--color-good);
  float: left;
}

.fill2 {
  height: 100%;
  width: 40%;
  background-color: var(--color-good-dark);
  float: left;
}

.modes-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 50px;
}

.resets-container {
  display: flex;
  justify-content: space-around;
  color: white;
}

.reset-container h4 {
  margin: 0;
}

.reset-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}