<!doctype html>
<html>
<head>
    <title>Antimatter Dimensions</title>
    <link rel="icon" type="image/png" href="icon.png">
    <meta name="Antimatter Dimensions" content="A game about huge numbers and watching them go up." charset="utf-8"/>
    <h1 id="hiddenheader" style="display: none">Antimatter Dimensions</h1>
    <script type="text/javascript" src='https://cdn1.kongregate.com/javascripts/kongregate_api.js'></script>
    <script type="text/javascript" src="javascripts/lib/jquery-3.2.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/components.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/ad-slider-component.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css?3">
    <link rel="stylesheet" type="text/css" href="stylesheets/time-studies.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/tooltips.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/vis.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/tln.css">
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-77268961-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<img id="loading" src="images/Loading.png">
<div id="snow" style="display: none; "></div>
<body>
<div id="ui" style="height: 100%; width: 100%">
    <div id="container" class="container" style="display:none; flex-direction: column; min-height: 100%; padding: 9px 15px; box-sizing: border-box;">
        <div id='game' style="flex: 0 0 auto">
            <div id='news'>.</div>
        </div>
        <game-header></game-header>
        <div style="position:absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; width: 360px; top: 19px">
            <button id="bigcrunch" style="font-family: Typewriter; font-size: 50px; width: 360px; height: 100px;" class="tabbtn">Big Crunch</button>
        </div>
        <div>
            <button id="dimensionsbtn" class="tabbtn">Dimensions</button>
            <button id="optionsbtn" class="tabbtn">Options</button>
            <button id="statisticsbtn" class="tabbtn">Statistics</button>
            <button id="achievementsbtn" class="tabbtn">Achievements</button>
            <button id="challengesbtn" class="tabbtn">Challenges</button>
            <button id="infinitybtn" class="tabbtn infinitytabbtn">Infinity</button>
            <button id="eternitystorebtn" class="tabbtn eternitytabbtn">Eternity</button>
            <button id="realitybtn" class="tabbtn realitytabbtn">Reality</button>
            <button id="celestialsbtn" class="tabbtn celestialtabbtn">Celestials</button>
            <button id="shopbtn" class="tabbtn">Shop</button>
        </div>
        <div id="emptiness" class="tab" style="font-size: 150%">
            <br> The world has collapsed on itself due to excess of antimatter.
            <br>
            <br>
        </div>
        <div id="shop" class="tab" style="font-size: 15px" >
            <div align="center">
                <br>
                <span id="kongip"> Double your IP gain from all sources. Forever. </span><br>
                <button class="greedbtn" onclick="kong.purchaseIP()">40 Kreds</button>
                <br><br><br>
                <span id="kongep"> Double your EP gain from all sources. Forever. </span><br>
                <button class="greedbtn" onclick="kong.purchaseEP()">50 Kreds</button>
                <br><br><br>
                <span id="kongdim"> Double all your dimension multipliers (dimensions 1-8). Forever. </span><br>
                <button class="greedbtn" onclick="kong.purchaseDimMult()">30 Kreds</button>
                <br><br><br>
                <span id="kongalldim"> Double ALL the dimension multipliers (Normal, Infinity and Time). Forever. </span><br>
                <button class="greedbtn" onclick="kong.purchaseAllDimMult()">60 Kreds</button>
                <br><br><br>
                <span>Get 6 hours worth of offline production. (Doesn't work for autobuyers)</span><br>
                <button class="greedbtn" onclick="kong.purchaseTimeSkip()">10 Kreds</button>
                <br><br><br>
                <span style="font-size: 12px"><b>Disclaimer: These are not required to progress in the game, they are just to help and support the developer.</b></span>
            </div>
        </div>
        <game-tab v-show="view.tabs.current && view.tabs.current !== 'reality-tab'" style="flex: 1 0">
            <component :is="view.tabs.current"></component>
        </game-tab>
        <div id="reality" class="tab" align="center" style="margin-top: 10px;">
            <br>
            <div id="realitymachines" style="color: black; font-size: 15px; width: 40%; margin: 0 auto">You have x Reality Machines.</div>
            <br>
            <table class="table" align="center" style="margin: auto">
                <tr>
                    <td><button class="secondarytabbtn" onclick="showRealityTab('glyphstab')">Glyphs</button></td>
                    <td><button class="secondarytabbtn" onclick="showRealityTab('upgrades')">Upgrades</button></td>
                    <td><button class="secondarytabbtn" onclick="showRealityTab('perks')">Perks</button></td>
                    <td><button class="secondarytabbtn" onclick="showRealityTab('automation')">Automation</button></td>
                    <td><button class="secondarytabbtn" onclick="showRealityTab('wormhole')">Wormhole</button></td>
                </tr>
            </table>
            <div id="glyphstab" class="realitytab">
              <div id="glyphTabUpper">
                <div class="glyphDescriptions" id="activeGlyphs"> <!-- left-->
                  here will be a description of current glyph effects or smthing
                </div>
                <div> <!-- middle -->
                  <br>
                  <reality-button></reality-button>
                  <br>
                  <expanding-control-box v-if="view.tabs.current === 'reality-tab' && view.tabs.reality.subtab === 'glyphstab'"
                                         label="Glyph level factors"
                                         container-class="c-glyph-level-factors-dropdown-header">
                    <glyph-levels-and-weights slot="dropdown"/>
                  </expanding-control-box>
                  <br>
                  <br>
                  <button class="realityUpgrade" onclick="toggleGlyphRespec()" id="glyphRespec" style="width:150px; height: 40px; margin: auto">Clear glyph slots on Reality</button>
                  <div id="glyphslots">
                    <!-- These are generated from JS -->
                  </div>
                </div>
                <div class="glyphDescriptions" id="sacrificedGlyphs"> <!-- right-->

                </div>
              </div>

              <div class="glyphcontainer" style="margin: auto;">
                <div>
                  <h3 style="text-align: center">Inventory</h3>
                  <table>
                    <tbody id="glyphs">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div id="upgrades" class="realitytab" style="display: none;">
                <table class="table realityUpgradeTable" align="center" style="margin: auto">
                    <tr>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(1)" id="rupg1">You gain Dilated Time 3 times faster<br>Cost: 1 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(2)" id="rupg2">You gain Replicanti 3 times faster<br>Cost: 2 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(3)" id="rupg3">You gain 3 times more Eternities<br>Cost: 2 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(4)" id="rupg4">You gain 3 times more Tachyon Particles<br>Cost: 3 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(5)" id="rupg5">You gain 5 times more Infinities<br>Cost: 4 RM</div></td>
                    </tr>
                    <tr>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(6)" id="rupg6" style="font-size: 0.85em;"><b>Requires: Reach first Eternity without getting any RGs during that Eternity</b>Replicanti gain is boosted from RGs (x RG/50)<br>Cost: 15 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(7)" id="rupg7"><b>Requires: Reach first Infinity with just 1 galaxy</b>Infinitied stat gain is boosted from Antimatter Galaxies (x Galaxies/30)<br>Cost: 15 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(8)" id="rupg8" style="font-size: 0.85em;"><b>Requires: Have the first 13 rows of achievements when you Infinity the first time</b>Tachyon Particle gain is multiplied based on achievement multiplier (mult^0.5)<br>Cost: 15 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(9)" id="rupg9"><b>Requires: Reality with only a single glyph with a level 3 or higher equipped.</b><br>Gain another glyph slot<br>Cost: 15 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(10)" id="rupg10"><b>Requires: Do your first Eternity with 1e400 IP</b><br>Start with 100 Eternities<br>Cost: 15 RM</div></td>
                    </tr>
                    <tr>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(11)" id="rupg11" style="font-size: 0.85em;"><b>Requires: 1,000,000,000,000 banked Infinities</b><br>Gain 10% of the Infinities you would gain by Infinitying each second.<br>Cost: 50 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(12)" id="rupg12"><b>Requires: 1e70 EP without EC1</b><br>EP mult based on Realities and TT, Currently Xx<br>Cost: 50 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(13)" id="rupg13" style="font-size: 0.85em;"><b>Requires: e3500 EP without TD5</b><br>More Eternity autobuyer options, EP multiplier autobuyer, Time Dimension autobuyers<br>Cost: 50 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(14)" id="rupg14"><b>Requires: 1,000,000 Eternities</b><br>Gain Eternities per second equal to your Realities<br>Cost: 50 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(15)" id="rupg15"><b>Requires: Reach 1e10 EP without purchasing the 5xEP upgrade</b><br>Multiply TP gain based on EP mult, Currently Xx<br>Cost: 50 RM</div></td>
                    </tr>
                    <tr>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(16)" id="rupg16" style="font-size: 0.85em;"><b>Requires: Reality with 4 glyphs with uncommon or better rarity</b><br>Improve the glyph rarity formula<br>Cost: 1500 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(17)" id="rupg17"><b>Requires: Reality with 4 glyphs, with each having 2 effects</b><br>50% chance to get +1 effect on glyphs<br>Cost: 1500 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(18)" id="rupg18"><b>Requires: Reality with 4 level 10 or higher glyphs equipped.</b><br>Eternities affect glyph level<br>Cost: 1500 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(19)" id="rupg19"><b>Requires: Have a total of 30 glyphs</b><br>You can sacrifice power and time glyphs for permanent bonuses (shift+click)<br>Cost: 1500 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(20)" id="rupg20" style="font-size: 0.85em;"><b>Requires: 2 years total play time</b><br>You can have 2 wormholes<br>Cost: 1500 RM</div></td>
                    </tr>
                    <tr>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(21)" id="rupg21" style="font-size: 0.85em;"><b>Requires: 1e70,000 Replicanti</b><br>You can sacrifice dilation, replication and infinity glyphs<br>Cost: 100,000 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(22)" id="rupg22"><b>Requires: 1e85 DT</b><br>Some time based multiplier to TD, Currently Xx<br>Cost: 100,000 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(23)" id="rupg23"><b>Requires: Reality in under 15 minutes</b><br>Eternity multipliers affect Eternity generation<br>Cost: 100,000 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(24)" id="rupg24"><b>Requires: Reality for 5000 RM without glyphs</b><br>Gain another glyph slot<br>Cost: 100,000 RM</div></td>
                        <td><div class="realityUpgrade" onclick="buyRealityUpg(25)" id="rupg25"><b>Requires: Gain 1e10500 EP</b><br>Reality autobuyer<br>Cost: 100,000 RM</div></td>
                    </tr>
                </table>
            </div>
            <div id="automation" class="realitytab" style="display: none;">
                <span id="automatorUnlock"><br><br><br>You need to get 4 Realities to unlock the automator</span>
                <div class="automator-container">
                    <div id="rowsAvailable">Your automator can use 4 rows; next row at 9 realities.</div>
                    <canvas id="automatorTreeCanvas"></canvas>
                    <div>
                        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-bottom: 3px;">
                            <p id="automatorloadsavetext">load:</p>
                            <automator-save-load-button v-for="saveslot in 3" :key="saveslot" :saveslot="saveslot"></automator-save-load-button>
                            <label for="automatorOn" style="margin-left: 40px;">on:</label>
                            <input type="checkbox" name="automatorOn" id="automatorOn" onChange="automatorOnOff()">
                        </div>
                        <textarea name="automator" id="automator" cols="30" spellcheck="false" onChange="updateState()"></textarea>
                    </div>
                    <table class="table" id="studytable">
                      <tr>
                        <td>
                          <automator-shop-button name="WAIT">
                            <template slot="button-content">
                              WAIT<br>
                              Cost: 1 RM
                            </template>
                            <template slot="tooltip-header">
                              WAIT [target] [amount]
                            </template>
                            <template slot="tooltip-content">
                              Waits for something to pass a certain point, "Wait EP 1e2000" waits until you have 1e2000 ep. "Wait time 10"
                              waits 10 seconds.
                            </template>
                          </automator-shop-button>
                        </td>
                        <td><button class="automatorinstruction" style="opacity: 0;"></button></td>
                        <td>
                          <automator-shop-button name="BUY">
                            <template slot="button-content">
                              BUY<br>
                            </template>
                            <template slot="tooltip-header">
                              BUY [target] [amount/ID]
                            </template>
                            <template slot="tooltip-content">
                              Buys stuff, "Buy study 11" buys the first timestudy. Hold shift to see study IDs.</template>
                          </automator-shop-button>
                        </td>
                      </tr>
                    </table>
                    <br>
                    <table class="table" id="studytable">
                      <tr>
                        <td><automator-shop-button name="IF">
                        </automator-shop-button></td>
                        <td><automator-shop-button name="ANTIMATTER"></automator-shop-button></td>
                        <td><automator-shop-button name="EP"></automator-shop-button></td>
                        <td><automator-shop-button name="STUDY"></automator-shop-button></td>
                        <td><automator-shop-button name="STUDYUNTIL"></automator-shop-button></td>
                        <td>
                          <automator-shop-button name="STUDYPATH">
                            <template slot="button-content">
                              STUDYPATH<br>Cost: 50 RM
                            </template>
                            <template slot="tooltip-header">
                              BUY STUDYPATH [all/none] [study ids and path names]
                            </template>
                            <template slot="tooltip-content">
                              Buys studies top-down using arguments after the mode specification. The 2 modes specify to buy "all" or
                              "none" of the studies on non-locked splits (incl. 62 and 33). Locked paths must be specified by ID # or split
                              name.
                            </template>
                          </automator-shop-button>
                        </td>
                      </tr>
                    </table>
                    <table class="table" id="studytable">
                      <tr>
                          <td><automator-shop-button name="GOTO"></automator-shop-button></td>
                          <td><automator-shop-button name="IP"></automator-shop-button></td>
                          <td><automator-shop-button name="REPLICANTI"></automator-shop-button></td>
                          <td><automator-shop-button name="TTEP"></automator-shop-button></td>
                          <td><automator-shop-button name="TTIP"></automator-shop-button></td>
                          <td><automator-shop-button name="STUDYIMPORT"></automator-shop-button></td>
                      </tr>
                    </table>
                    <table class="table" id="studytable">
                      <tr>
                          <td><automator-shop-button name="TIME"></automator-shop-button></td>
                          <td><automator-shop-button name="RG"></automator-shop-button></td>
                          <td><automator-shop-button name="TTAM"></automator-shop-button></td>
                          <td><automator-shop-button name="TTMAX"></automator-shop-button></td>
                      </tr>
                    </table>
                    <table class="table" id="studytable">
                      <tr>
                        <td>
                          <automator-shop-button name="LOAD">
                            <template slot="button-content">
                              LOAD<br>Cost: 30 RM
                            </template>
                            <template slot="tooltip-header">
                              LOAD [automatorscriptnumber]
                            </template>
                            <template slot="tooltip-content">
                              You can load different automatorscripts with this, "Load 2" loads the second script
                            </template>
                          </automator-shop-button>
                        </td>
                        <td><automator-shop-button name="MAX"></automator-shop-button></td>
                        <td>
                          <automator-shop-button name="TOGGLE">
                            <template slot="button-content">
                              TOGGLE<br>Cost: 30 RM
                            </template>
                            <template slot="tooltip-header">
                              TOGGLE [autobuyer]
                            </template>
                            <template slot="tooltip-content">
                              Toggles autobuyers on and off, "Toggle D1" for example. Targets include: DX, Tickspeed, Galaxy, Dimboost,
                              Infinity, Eternity, Sacrifice, and RG
                            </template>
                          </automator-shop-button>
                        </td>
                        <td>
                          <automator-shop-button name="UNLOCK">
                            <template slot="button-content">
                              UNLOCK<br>Cost: 30 RM
                            </template>
                            <template slot="tooltip-header">
                              UNLOCK [target] [(id)]
                            </template>
                            <template slot="tooltip-content">
                              Unlocks either ECs "Unlock EC 3", or dilation "Unlock dilation"
                            </template>
                          </automator-shop-button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <automator-shop-button name="RESPEC">
                            <template slot="button-content">
                              RESPEC<br>Cost: 30 RM
                            </template>
                            <template slot="tooltip-header">
                              RESPEC
                            </template>
                            <template slot="tooltip-content">
                              Toggles respec on, so next eternity your time studies will reset.
                            </template>
                          </automator-shop-button>
                        </td>
                        <td>
                          <automator-shop-button name="ETERNITY">
                            <template slot="button-content">
                              ETERNITY<br>Cost: 30 RM
                            </template>
                            <template slot="tooltip-header">
                              ETERNITY
                            </template>
                            <template slot="tooltip-content">
                              Does an eternity if able, if not it waits until it can eternity.
                            </template>
                          </automator-shop-button>
                        </td>
                        <td><automator-shop-button name="UNLOCK_DILATION"></automator-shop-button></td>
                        <td><automator-shop-button name="UNLOCK_EC"></automator-shop-button></td>
                      </tr>
                      <tr>
                        <td>
                          <automator-shop-button name="CHANGE">
                            <template slot="button-content">
                              CHANGE<br>Cost: 30 RM
                            </template>
                            <template slot="tooltip-header">
                              CHANGE [IPAUTOBUYER/EPAUTOBUYER] [amount]
                            </template>
                            <template slot="tooltip-content">
                              You can change the amount in your autobuyers "CHANGE IPAUTOBUYER 1e2000" for example
                            </template>
                          </automator-shop-button>
                        </td>
                        <td>
                          <automator-shop-button name="STOP">
                            <template slot="button-content">
                              STOP<br>Cost: 30 RM
                            </template>
                            <template slot="tooltip-header">
                              STOP
                            </template>
                            <template slot="tooltip-content">
                              Stops the whole automator.
                            </template>
                          </automator-shop-button>
                        </td>
                        <td><button class="automatorinstruction" style="opacity: 0;"></button></td>
                        <td>
                          <automator-shop-button name="START">
                            <template slot="button-content">
                              START<br>Cost: 30 RM
                            </template>
                            <template slot="tooltip-header">
                              START [target] [(id)]
                            </template>
                            <template slot="tooltip-content">
                              Starts either ECs "Start EC 3", or dilation "Start dilation"
                            </template>
                          </automator-shop-button>
                        </td>
                      </tr>
                      <tr>
                        <td><automator-shop-button name="IPAUTOBUYER"></automator-shop-button></td>
                        <td><automator-shop-button name="EPAUTOBUYER"></automator-shop-button></td>
                        <td><automator-shop-button name="START_DILATION"></automator-shop-button></td>
                        <td><automator-shop-button name="START_EC"></automator-shop-button></td>
                      </tr>
                    </table>
                </div>
            </div>
            <div id="wormhole" class="realitytab" style="display: none;">
                <button id="wormholeunlock" class="realityUpgrade" onclick="unlockWormhole()" style="text-shadow: -1px 1px 3px #d5ffd7;" ach-tooltip="The wormhole makes the game run significantly faster for a short period of time. Starts at 180x faster for 10 seconds, once per hour.">Unleash the Wormhole<br>Cost: 50 RM</button>
                <div id="wormholecontainer" style="display: none">
					<canvas id="wormholeImage" width="400" height="400" style="border:1px solid #000000;"></canvas>
          <h3 id="wormholeStatus1"></h3>
          <h3 id="wormholeStatus2"></h3>
          <h3 id="wormholeStatus3"></h3>
                    <div class="wormhole-upgrades" id="whupg1">
                        <button class="realityUpgrade" id="wormholeinterval1" onclick="upgradeWormholeInterval(0)">Speed up the wormhole up 25%<br>Current interval: 3600 seconds<br>Cost: 15RM</button>
                        <button class="realityUpgrade" id="wormholepower1" onclick="upgradeWormholePower(0)">Make the wormhole 35% more powerful<br>Current power: 5x <br>Cost: 10RM</button>
                        <button class="realityUpgrade" id="wormholeduration1" onclick="upgradeWormholeDuration(0)">Extend the wormhole duration by 50%<br>Current duration: 10 seconds<br>Cost: 20RM</button>
                    </div>
                    <div class="wormhole-upgrades" id="whupg2">
                        <button class="realityUpgrade" id="wormholeinterval2" onclick="upgradeWormholeInterval(1)">Speed up the wormhole up 25%<br>Current interval: 3600 seconds<br>Cost: 15RM</button>
                        <button class="realityUpgrade" id="wormholepower2" onclick="upgradeWormholePower(1)">Make the wormhole 35% more powerful<br>Current power: 5x <br>Cost: 10RM</button>
                        <button class="realityUpgrade" id="wormholeduration2" onclick="upgradeWormholeDuration(1)">Extend the wormhole duration by 50%<br>Current duration: 10 seconds<br>Cost: 20RM</button>
                    </div>
                    <div class="wormhole-upgrades" id="whupg3">
                        <button class="realityUpgrade" id="wormholeinterval3" onclick="upgradeWormholeInterval(2)">Speed up the wormhole up 25%<br>Current interval: 3600 seconds<br>Cost: 15RM</button>
                        <button class="realityUpgrade" id="wormholepower3" onclick="upgradeWormholePower(2)">Make the wormhole 35% more powerful<br>Current power: 5x <br>Cost: 10RM</button>
                        <button class="realityUpgrade" id="wormholeduration3" onclick="upgradeWormholeDuration(2)">Extend the wormhole duration by 50%<br>Current duration: 10 seconds<br>Cost: 20RM</button>
                    </div>
                    <div><button class="realityUpgrade" onclick="pauseWormhole()" style="height: auto; padding: 16px" id="pauseButton">Pause</button></div>
                </div>
            </div>
            <div id="perks" class="realitytab" style="display: none;">
                <div id="pp">You have 0 Perk points</div>
                <div class="vis-network" tabindex="900" style="position: relative; overflow: hidden; touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 100%; height: 100%;">
                    <canvas width="800" height="800" style="position: relative; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 100%; height: 100%;"></canvas>
                </div>
            </div>
        </div>
        <div id="notification-container" class="l-notification-container"></div>
    </div>
    <div class="popup glyphselect" id="glyphSelect">
        <h3>Select one of the following glyphs</h3>
        <div id="glyphsToSelect"></div>
    </div>
    <modal-popup v-if="view.modal.current"></modal-popup>
    <link v-if="view.theme" type="text/css" rel="stylesheet" :href="themeCss">
</div>
</body>
<div class="videocontainer">
    <video autoplay muted loop id="stars" style="display: none;">
        <source src="images/s6-bg.webm" type="video/webm">
    </video>
</div>
<div class="videocontainer">
    <video preload muted id="realityanimbg" style="opacity: 0; display: none; ">
        <source src="images/realityanimbg.webm" type="video/webm">
    </video>
</div>

<div id="performance-stats" class="c-performance-stats" style="display: none;"></div>

<script type="text/javascript" src="javascripts/lib/vue.js"></script>
<script type="text/javascript" src="javascripts/lib/v-tooltip.min.js"></script>
<script type="text/javascript" src="javascripts/lib/mousetrap.min.js"></script>
<script type="text/javascript" src="javascripts/lib/breakinfinity.min.js"></script>
<script type="text/javascript" src="javascripts/lib/chart.min.js"></script>
<script type="text/javascript" src="javascripts/lib/lz-string.min.js"></script>
<script type="text/javascript" src="javascripts/lib/vis.min.js"></script>
<script type="text/javascript" src="javascripts/lib/sha512.min.js"></script>
<script type="text/javascript" src="javascripts/lib/deepmerge.js"></script>
<script type="text/javascript" src="javascripts/lib/Sortable.min.js"></script>
<script type="text/javascript" src="javascripts/lib/vuedraggable.min.js"></script>
<script type="text/javascript" src="javascripts/lib/Tween.min.js"></script>
<script type="text/javascript" src="PlayFab/PlayFabClientApi.js"></script>
<script type="text/javascript" src="javascripts/DragDropTouch.js"></script>
<script type="text/javascript" src="javascripts/tln.js"></script>
<script type="text/javascript" src="javascripts/longpress.js"></script>

<script type="text/javascript" src="javascripts/core/polyfill.js"></script>
<script type="text/javascript" src="javascripts/core/extensions.js"></script>
<script type="text/javascript" src="javascripts/core/timespan.js"></script>
<script type="text/javascript" src="javascripts/core/format.js"></script>
<script type="text/javascript" src="javascripts/core/constants.js"></script>
<script type="text/javascript" src="javascripts/core/player.js"></script>
<script type="text/javascript" src="javascripts/core/autobuyer.js"></script>
<script type="text/javascript" src="javascripts/core/performance-stats.js"></script>
<script type="text/javascript" src="javascripts/core/game-mechanic.js"></script>
<script type="text/javascript" src="javascripts/core/cache.js"></script>
<script type="text/javascript" src="javascripts/core/intervals.js"></script>
<script type="text/javascript" src="javascripts/core/keyboard.js"></script>
<script type="text/javascript" src="javascripts/core/hotkeys.js"></script>
<script type="text/javascript" src="javascripts/core/crash.js"></script>
<script type="text/javascript" src="javascripts/core/notations.js"></script>


<script type="text/javascript" src="javascripts/core/secret-formula/effects.js"></script>
<script type="text/javascript" src="javascripts/core/secret-formula/game-database.js"></script>
<script type="text/javascript" src="javascripts/core/secret-formula/achievements/normal-achievements.js"></script>
<script type="text/javascript" src="javascripts/core/secret-formula/achievements/secret-achievements.js"></script>
<script type="text/javascript" src="javascripts/core/secret-formula/challenges/normal-challenges.js"></script>
<script type="text/javascript" src="javascripts/core/secret-formula/challenges/infinity-challenges.js"></script>
<script type="text/javascript" src="javascripts/core/secret-formula/challenges/eternity-challenges.js"></script>
<script type="text/javascript" src="javascripts/core/secret-formula/infinity/infinity-upgrades.js"></script>
<script type="text/javascript" src="javascripts/core/secret-formula/infinity/break-infinity-upgrades.js"></script>
<script type="text/javascript" src="javascripts/core/secret-formula/eternity/time-studies/normal-time-studies.js"></script>
<script type="text/javascript" src="javascripts/core/secret-formula/eternity/time-studies/ec-time-studies.js"></script>
<script type="text/javascript" src="javascripts/core/secret-formula/eternity/time-studies/dilation-time-studies.js"></script>
<script type="text/javascript" src="javascripts/core/secret-formula/eternity/eternity-upgrades.js"></script>
<script type="text/javascript" src="javascripts/core/secret-formula/eternity/eternity-milestones.js"></script>
<script type="text/javascript" src="javascripts/core/secret-formula/eternity/dilation-upgrades.js"></script>
<script type="text/javascript" src="javascripts/core/secret-formula/reality/perks.js"></script>
<script type="text/javascript" src="javascripts/core/glyph-effects.js"></script>


<script type="text/javascript" src="javascripts/components/primary-button.js"></script>
<script type="text/javascript" src="javascripts/components/secondary-tab-button.js"></script>
<script type="text/javascript" src="javascripts/components/description-display.js"></script>
<script type="text/javascript" src="javascripts/components/effect-display.js"></script>
<script type="text/javascript" src="javascripts/components/cost-display.js"></script>
<script type="text/javascript" src="javascripts/components/game-tab.js"></script>
<script type="text/javascript" src="javascripts/components/game-tab-with-subtabs.js"></script>
<script type="text/javascript" src="javascripts/components/hint-text.js"></script>
<script type="text/javascript" src="javascripts/components/footer-links.js"></script>
<script type="text/javascript" src="javascripts/components/tt-shop.js"></script>
<script type="text/javascript" src="javascripts/components/automator-buttons.js"></script>
<script type="text/javascript" src="javascripts/components/plus-minus-button.js"></script>
<script type="text/javascript" src="javascripts/components/ad-slider-component.js"></script>
<script type="text/javascript" src="javascripts/components/expanding-control-box.js"></script>

<script type="text/javascript" src="javascripts/components/header/game-header.js"></script>
<script type="text/javascript" src="javascripts/components/header/game-header-amounts-line.js"></script>
<script type="text/javascript" src="javascripts/components/header/game-header-tickspeed-row.js"></script>
<script type="text/javascript" src="javascripts/components/header/game-header-big-crunch-button.js"></script>
<script type="text/javascript" src="javascripts/components/header/game-header-new-dim-button.js"></script>
<script type="text/javascript" src="javascripts/components/header/game-header-eternity-button.js"></script>

<script type="text/javascript" src="javascripts/components/dimensions/dimensions-tab.js"></script>
<script type="text/javascript" src="javascripts/components/dimensions/normal/normal-dim-tab-header.js"></script>
<script type="text/javascript" src="javascripts/components/dimensions/normal/normal-dim-row.js"></script>
<script type="text/javascript" src="javascripts/components/dimensions/normal/normal-dim-shift-row.js"></script>
<script type="text/javascript" src="javascripts/components/dimensions/normal/normal-dim-galaxy-row.js"></script>
<script type="text/javascript" src="javascripts/components/dimensions/normal/normal-dim-tab-progress-bar.js"></script>
<script type="text/javascript" src="javascripts/components/dimensions/normal/normal-dim-tab.js"></script>
<script type="text/javascript" src="javascripts/components/dimensions/infinity/infinity-dim-row.js"></script>
<script type="text/javascript" src="javascripts/components/dimensions/infinity/infinity-dim-tab.js"></script>
<script type="text/javascript" src="javascripts/components/dimensions/time/time-dim-row.js"></script>
<script type="text/javascript" src="javascripts/components/dimensions/time/time-dim-tab.js"></script>
<script type="text/javascript" src="javascripts/components/dimensions/dim-production-tab.js"></script>

<script type="text/javascript" src="javascripts/components/options/options-tab.js"></script>
<script type="text/javascript" src="javascripts/components/options/options-button-grid.js"></script>

<script type="text/javascript" src="javascripts/components/statistics/stats-tab.js"></script>
<script type="text/javascript" src="javascripts/components/statistics/statistics-tab.js"></script>
<script type="text/javascript" src="javascripts/components/statistics/challenges/challenge-records-list.js"></script>
<script type="text/javascript" src="javascripts/components/statistics/challenges/challenge-records-tab.js"></script>
<script type="text/javascript" src="javascripts/components/statistics/runs/past-runs-tab.js"></script>
<script type="text/javascript" src="javascripts/components/statistics/runs/past-infinities-tab.js"></script>
<script type="text/javascript" src="javascripts/components/statistics/runs/past-eternities-tab.js"></script>
<script type="text/javascript" src="javascripts/components/statistics/runs/past-realities-tab.js"></script>

<script type="text/javascript" src="javascripts/components/achievements/achievements-tab.js"></script>
<script type="text/javascript" src="javascripts/components/achievements/normal/normal-achievement.js"></script>
<script type="text/javascript" src="javascripts/components/achievements/normal/normal-achievement-row.js"></script>
<script type="text/javascript" src="javascripts/components/achievements/normal/normal-achievements-tab.js"></script>
<script type="text/javascript" src="javascripts/components/achievements/secret/secret-achievement.js"></script>
<script type="text/javascript" src="javascripts/components/achievements/secret/secret-achievements-tab.js"></script>
<script type="text/javascript" src="javascripts/components/achievements/secret/secret-achievement-row.js"></script>

<script type="text/javascript" src="javascripts/components/celestials/celestials-tab.js"></script>
<script type="text/javascript" src="javascripts/components/celestials/subtabs/effarig-tab.js"></script>
<script type="text/javascript" src="javascripts/components/celestials/subtabs/teresa-tab.js"></script>
<script type="text/javascript" src="javascripts/components/celestials/subtabs/v-tab.js"></script>
<script type="text/javascript" src="javascripts/components/celestials/subtabs/enslaved-tab.js"></script>
<script type="text/javascript" src="javascripts/components/celestials/subtabs/ra-tab.js"></script>
<script type="text/javascript" src="javascripts/components/celestials/subtabs/laitela-tab.js"></script>
<script type="text/javascript" src="javascripts/components/celestials/subtabs/pelle-tab.js"></script>


<script type="text/javascript" src="javascripts/core/celestials/effarig.js"></script>
<script type="text/javascript" src="javascripts/core/celestials/teresa.js"></script>
<script type="text/javascript" src="javascripts/core/celestials/enslaved.js"></script>

<script type="text/javascript" src="javascripts/components/challenges/challenges-tab.js"></script>
<script type="text/javascript" src="javascripts/components/challenges/challenge-box.js"></script>
<script type="text/javascript" src="javascripts/components/challenges/challenge-grid.js"></script>
<script type="text/javascript" src="javascripts/components/challenges/normal-challenges-tab.js"></script>
<script type="text/javascript" src="javascripts/components/challenges/infinity-challenges-tab.js"></script>
<script type="text/javascript" src="javascripts/components/challenges/eternity-challenges-tab.js"></script>

<script type="text/javascript" src="javascripts/components/infinity/infinity-tab.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/infinity-upgrade-button.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/upgrades/infinity-upgrades-tab.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/upgrades/ip-multiplier-button.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/autobuyers/autobuyers-tab.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/autobuyers/autobuyer-toggles.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/autobuyers/autobuyer-box.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/autobuyers/autobuyer-input.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/autobuyers/reality-autobuyer-box.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/autobuyers/eternity-autobuyer-box.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/autobuyers/dimboost-autobuyer-box.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/autobuyers/galaxy-autobuyer-box.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/autobuyers/dim-autobuyer-box.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/autobuyers/tickspeed-autobuyer-box.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/autobuyers/sacrifice-autobuyer-box.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/autobuyers/big-crunch-autobuyer-box.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/autobuyers/autobuyer-interval-button.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/autobuyers/autobuyer-priority-selector.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/break-infinity/break-infinity-tab.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/break-infinity/break-infinity-button.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/replicanti/replicanti-tab.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/replicanti/replicanti-upgrade-button.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/replicanti/replicanti-gain-text.js"></script>
<script type="text/javascript" src="javascripts/components/infinity/replicanti/replicanti-galaxy-button.js"></script>

<script type="text/javascript" src="javascripts/components/eternity/eternity-tab.js"></script>
<script type="text/javascript" src="javascripts/components/eternity/time-studies/rem.js"></script>
<script type="text/javascript" src="javascripts/components/eternity/time-studies/time-study.js"></script>
<script type="text/javascript" src="javascripts/components/eternity/time-studies/secret-time-study.js"></script>
<script type="text/javascript" src="javascripts/components/eternity/time-studies/normal-time-study.js"></script>
<script type="text/javascript" src="javascripts/components/eternity/time-studies/ec-time-study.js"></script>
<script type="text/javascript" src="javascripts/components/eternity/time-studies/dilation-time-study.js"></script>
<script type="text/javascript" src="javascripts/components/eternity/time-studies/time-study-connection.js"></script>
<script type="text/javascript" src="javascripts/components/eternity/time-studies/time-studies-tab.js"></script>
<script type="text/javascript" src="javascripts/components/eternity/upgrades/eternity-upgrade-button.js"></script>
<script type="text/javascript" src="javascripts/components/eternity/upgrades/ep-multiplier-button.js"></script>
<script type="text/javascript" src="javascripts/components/eternity/upgrades/eternity-upgrades-tab.js"></script>
<script type="text/javascript" src="javascripts/components/eternity/milestones/eternity-milestone.js"></script>
<script type="text/javascript" src="javascripts/components/eternity/milestones/eternity-milestones-tab.js"></script>
<script type="text/javascript" src="javascripts/components/eternity/dilation/time-dilation-tab.js"></script>
<script type="text/javascript" src="javascripts/components/eternity/dilation/dilation-button.js"></script>
<script type="text/javascript" src="javascripts/components/eternity/dilation/dilation-upgrade.js"></script>
<script type="text/javascript" src="javascripts/components/eternity/dilation/tachyon-particles.js"></script>

<script type="text/javascript" src="javascripts/components/reality/reality-tab.js"></script>
<script type="text/javascript" src="javascripts/components/reality/glyphs/reality-button.js"></script>
<script type="text/javascript" src="javascripts/components/reality/glyphs/glyph-levels-and-weights.js"></script>

<script type="text/javascript" src="javascripts/components/modals/modal-popup.js"></script>
<script type="text/javascript" src="javascripts/components/modals/modal-message.js"></script>
<script type="text/javascript" src="javascripts/components/modals/modal-import.js"></script>
<script type="text/javascript" src="javascripts/components/modals/modal-load-game.js"></script>
<script type="text/javascript" src="javascripts/components/modals/options/modal-options.js"></script>
<script type="text/javascript" src="javascripts/components/modals/options/modal-animation-options.js"></script>
<script type="text/javascript" src="javascripts/components/modals/options/modal-confirmation-options.js"></script>
<script type="text/javascript" src="javascripts/components/modals/cloud/modal-cloud-conflict-record.js"></script>
<script type="text/javascript" src="javascripts/components/modals/cloud/modal-cloud-load-conflict.js"></script>
<script type="text/javascript" src="javascripts/components/modals/cloud/modal-cloud-save-conflict.js"></script>


<script type="text/javascript" src="javascripts/core/app/ui.init.js"></script>
<script type="text/javascript" src="javascripts/core/app/player-progress.js"></script>
<script type="text/javascript" src="javascripts/core/app/modal.js"></script>
<script type="text/javascript" src="javascripts/core/app/themes.js"></script>
<script type="text/javascript" src="javascripts/core/app/options.js"></script>
<script type="text/javascript" src="javascripts/core/app/event-hub.js"></script>
<script type="text/javascript" src="javascripts/core/app/ui.js"></script>
<script type="text/javascript" src="javascripts/core/app/tabs.js"></script>
<script type="text/javascript" src="javascripts/core/app/notify.js"></script>

<script type="text/javascript" src="javascripts/core/time.js"></script>
<script type="text/javascript" src="javascripts/core/achievements.js"></script>
<script type="text/javascript" src="javascripts/core/chart.js"></script>
<script type="text/javascript" src="javascripts/core/tickspeed.js"></script>
<script type="text/javascript" src="javascripts/core/normal_dimension.js"></script>
<script type="text/javascript" src="javascripts/core/infinity_dimension.js"></script>
<script type="text/javascript" src="javascripts/core/time_dimension.js"></script>
<script type="text/javascript" src="javascripts/core/dimboost.js"></script>
<script type="text/javascript" src="javascripts/core/sacrifice.js"></script>
<script type="text/javascript" src="javascripts/core/galaxy.js"></script>
<script type="text/javascript" src="javascripts/core/big_crunch.js"></script>
<script type="text/javascript" src="javascripts/core/challenge.js"></script>
<script type="text/javascript" src="javascripts/core/eternity.js"></script>
<script type="text/javascript" src="javascripts/core/eternity_challenge.js"></script>
<script type="text/javascript" src="javascripts/core/reality.js"></script>
<script type="text/javascript" src="javascripts/core/replicanti.js"></script>
<script type="text/javascript" src="javascripts/core/timestudies.js"></script>
<script type="text/javascript" src="javascripts/core/rm.js"></script>
<script type="text/javascript" src="javascripts/core/automator.js"></script>
<script type="text/javascript" src="javascripts/core/perks.js"></script>
<script type="text/javascript" src="javascripts/core/canvases.js"></script>
<script type="text/javascript" src="javascripts/core/dilation.js"></script>
<script type="text/javascript" src="javascripts/core/wormhole.js"></script>
<script type="text/javascript" src="javascripts/core/devtools.js"></script>
<script type="text/javascript" src="javascripts/core/load_functions.js"></script>
<script type="text/javascript" src="javascripts/core/newsticker.js"></script>
<script type="text/javascript" src="javascripts/core/kong.js"></script>
<script type="text/javascript" src="javascripts/core/playfab.js"></script>
<script type="text/javascript" src="javascripts/game.js?85"></script>
</html>
