@font-face {
  font-family: Typewriter;
  src: url("MonospaceTypewriter.ttf");
}

*:focus {
  outline: none;
}

:root {
  --sidebar-width: 12.8rem;
  --color-antimatter--bg: #df50504d;
  --color-infinity--bg: #b67f334d;
  --color-eternity--bg: #b341e04d;
}

:root .t-s12 {
  --sidebar-width: 0;
}

:root .t-normal,
:root .t-s9,
:root .t-s12 {
  --color-text: #ffffff;
  --color-text-inverted: black;
  --color-base: #1d1b22;
  --color-accent: #df5050;
  --color-good: #1bbb36;
  --color-good-dark: #138626;
  --color-notification: yellow;

  --color-antimatter: #df5050;

  --color-prestige--accent: black;

  --color-teresa--accent: black;

  --color-laitela--base: black;
  --color-laitela--accent: white;
}

:root .t-metro,
:root .t-inverted-metro,
:root .t-s8 {
  --color-antimatter--bg: rgba(33, 150, 243, 30%);
}

body.t-normal,
body.t-s9,
body.t-s12 {
  color: white;
  background-color: #111014;
}

.t-normal .c-background-overlay,
.t-s9 .c-background-overlay {
  background: black;
  background-position: center;
  background-size: 100%;
}

#page {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Typewriter, serif;
  background: none;
  margin: auto;
}

.c-modern-sidebar {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  position: absolute;
  left: 0;
  z-index: 5;
  pointer-events: auto;
}

.c-modern-sidebar:hover .subtabs,
.c-modern-sidebar:hover .l-tab-btn-inner,
.c-modern-sidebar:hover .o-tab-btn,
.c-modern-sidebar:hover .o-tab-btn::after {
  transition-delay: 0s;
}

.resource-gain {
  font-size: 0.7rem;
  color: var(--color-text);
}

.resource-infinity-canreset,
.resource-eternity-canreset {
  background-color: black;
  transition-duration: 0.15s;
  cursor: pointer;
}

.resource-infinity-canreset:hover,
.resource-eternity-canreset:hover {
  background-color: rgb(49, 49, 49);
}

.t-normal .c-modal {
  background-color: #1d1b22;
  box-shadow: 0 0 1.5rem 0 black;
}

.o-tab-btn {
  height: 4.6rem;
  position: relative;
  font-size: 1.4rem;
  border-width: 0.1rem;
  border-radius: 0;
  margin-top: -0.1rem;
  transition-delay: 0.2s;
  transition-duration: 0.15s;
}

.o-tab-btn:hover {
  z-index: 1;
}

.c-modern-sidebar > .o-tab-btn {
  border-left-width: 0;
}

.l-tab-btn-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.o-tab-btn:hover .subtabs {
  left: calc(var(--sidebar-width) + 2.3rem);
  opacity: 1;
  pointer-events: all;
}

.o-tab-btn::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: calc(0% + -0.1rem);
  left: calc(100% + 0.1rem);
  z-index: 4;
  border-top: 2.3rem solid transparent;
  border-bottom: 2.3rem solid transparent;
  border-left: 0 solid var(--color-accent);
  transition-delay: 0.2s;
  transition-duration: 0.15s;
}

.o-tab-btn--subtabs:hover::after {
  border-left-width: 2.2rem;
}

.o-tab-btn--infinity::after {
  border-left-color: var(--color-infinity);
}

.o-tab-btn--eternity::after {
  border-left-color: var(--color-eternity);
}

.o-tab-btn--reality::after {
  border-left-color: var(--color-reality);
}

.o-tab-btn--celestial::after {
  border-left-color: var(--color-celestials);
}

.tab-button.shop {
  background-color: #d9bb26;
}

.tab-button.shop:hover {
  background-color: #ffdd33;
}

.game-container {
  width: calc(100% - var(--sidebar-width));
  margin-left: var(--sidebar-width);
}

.t-s4 .game-container {
  border-radius: 0 !important;
}

.tab-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.tab-container > .l-antimatter-dim-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-text);
}

.l-antimatter-dim-tab {
  flex-grow: 1;
}

.l-challenge-grid {
  width: 100%;
}

.subtabs {
  display: flex;
  position: absolute;
  top: -0.6rem;
  left: var(--sidebar-width);
  z-index: 4;
  opacity: 0;
  padding: 0.5rem;
  padding-left: 0;
  transition: pointer-events 0s linear 0s, all 0.15s linear 0.2s;
  pointer-events: none;
}

.o-tab-btn--subtab {
  width: 4.7rem;
  height: 4.7rem;
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 4.5rem;
  margin-left: -0.1rem;
  transition-duration: 0.15s;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.o-tab-btn--subtab .o-tab-btn--cel3 {
  font-weight: normal;
  transform: rotate(45deg);
}

.o-subtab__tooltip {
  width: 20rem;
  height: 3rem;
  position: absolute;
  bottom: 100%;
  z-index: 2;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2.8rem;
  opacity: 0;
  color: var(--color-text);
  background: var(--color-base);
  border: 0.1rem solid var(--color-accent);
  border-radius: var(--var-border-radius, 0.4rem);
  margin-left: -7.7rem;
  transition-duration: 0.2s;
  pointer-events: none;
}

.o-subtab__tooltip::after {
  content: " ";
  width: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 0;
  border-top: 0 solid var(--color-accent);
  border-right: 0.7rem solid transparent;
  border-left: 0.7rem solid transparent;
  margin-bottom: 0;
  margin-left: -0.7rem;
  transition-duration: 0.2s;
}

.o-tab-btn--subtab:hover .o-subtab__tooltip {
  bottom: calc(100% + 0.7rem);
  opacity: 1;
}

.o-tab-btn--subtab:hover .o-subtab__tooltip::after {
  border-top-width: 0.7rem;
  margin-bottom: -0.7rem;
}

.o-tab-btn--infinity .o-subtab__tooltip {
  color: var(--color-infinity);
  background: var(--color-prestige--accent);
  border-color: var(--color-infinity);
}

.o-tab-btn--infinity .o-subtab__tooltip::after {
  border-top-color: var(--color-infinity);
}

.o-tab-btn--eternity .o-subtab__tooltip {
  color: var(--color-eternity);
  background: var(--color-prestige--accent);
  border-color: var(--color-eternity);
}

.o-tab-btn--eternity .o-subtab__tooltip::after {
  border-top-color: var(--color-eternity);
}

.o-tab-btn--reality .o-subtab__tooltip {
  color: var(--color-reality);
  background: var(--color-prestige--accent);
  border-color: var(--color-reality);
}

.o-tab-btn--reality .o-subtab__tooltip::after {
  border-top-color: var(--color-reality);
}

.o-tab-btn--celestial .o-subtab__tooltip {
  color: var(--color-celestials);
  background: var(--color-prestige--accent);
  border-color: var(--color-celestials);
}

.o-tab-btn--celestial .o-subtab__tooltip::after {
  border-top-color: var(--color-celestials);
}

.active {
  background-color: #2c2933;
}

.l-dimensions-container {
  padding: 0.5rem 5rem 0.5rem 9rem; /* TOP RIGHT BOTTOM LEFT */
}

.o-primary-btn--new {
  overflow: hidden;
  grid-column: 1 / 11;
  width: 25rem;
  height: 4.4rem;
  position: relative;
  font-family: Typewriter, serif;
  color: var(--color-text);
  background-color: var(--color-base);
  border: 0.1rem solid var(--color-good);
  border-radius: var(--var-border-radius, 0.5rem);
  margin: 0.5rem;
  padding: 1rem;
}

.o-primary-btn--dimension-reset {
  display: flex;
  width: 25rem;
  height: 6rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.button-content {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.fill {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.fill-purchased {
  float: left;
  width: 20%;
  height: 100%;
  background-color: var(--color-good);
}

.fill-possible {
  float: left;
  width: 40%;
  height: 100%;
  background-color: var(--color-good-dark);
}

.modes-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0 5rem;
}

.resets-container {
  display: flex;
  height: 16rem;
  justify-content: space-around;
}

.reset-container h4 {
  font-size: 1.4rem;
  margin: 0;
}

.reset-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 16rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.3rem;
}

.particle {
  width: 1rem;
  height: 1rem;
  position: absolute;
  z-index: 0;
  color: var(--color-text);
  background-image: url("../icon.png");
  background-position: center;
  background-size: cover;
}

.sacrifice-btn {
  width: 35rem;
  height: 3rem;
  padding: 0;
}

.btn-big-crunch {
  z-index: 1;
  font-family: Typewriter;
  font-size: 5rem;
  color: var(--color-infinity);
  background-color: black;
  border: var(--var-border-width, 0.2rem) solid var(--color-infinity);
  border-radius: var(--var-border-radius, 0.5rem);
  padding: 2rem;
  transition-duration: 0.15s;
  cursor: pointer;
}

.btn-big-crunch--small {
  position: absolute;
  top: 4.3rem;
  font-size: 3rem;
  transform: translateX(-50%);
}

.btn-big-crunch:hover {
  color: black;
  background-color: var(--color-infinity);
}

.t-normal .c-game-header__tesseract-available,
.t-s12 .c-game-header__tesseract-available {
  background: #eeeeee;
  animation: a-tesseract-shift-dark 5s infinite;
}

.information-header {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-text);
  border-bottom: 0.1rem solid var(--color-good);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.6rem;
}

/* FIXING OLD TABS */

.l-achievement-grid__cell {
  margin: 0.6rem 0.4rem;
}

.t-normal .o-achievement__tooltip,
.t-s12 .o-achievement__tooltip {
  background: var(--color-base);
  border: 0.1rem solid var(--color-accent);
}

.t-normal .o-achievement__tooltip::after,
.t-s12 .o-achievement__tooltip::after {
  border-top-color: var(--color-accent);
}

.o-infinity-upgrade-btn--unavailable {
  color: white;
  background: #525252;
  border: 0.1rem solid var(--color-accent);
  cursor: default;
}

.o-infinity-upgrade-btn--unavailable:hover {
  color: var(--color-text-inverted);
  background: #525252;
}

.o-primary-btn--option,
.o-primary-btn--option-wide,
.c-select-theme__item,
.c-select-notation__item {
  color: var(--color-text);
  background: var(--color-base);
  border: 0.1rem solid var(--color-good);
}

.o-primary-btn {
  color: var(--color-text);
  background-color: var(--color-base);
  border-color: var(--color-good);
}

.o-primary-btn--disabled {
  background: #752626;
  border-color: var(--color-bad);
}

.o-primary-btn--subtab-option {
  border-width: 0.1rem;
}

.o-primary-btn--subtab-option:hover {
  background-color: var(--color-good);
}

.c-subtab-option-container {
  border-color: var(--color-good);
  border-width: 0.1rem;
}

.c-laitela-automation-toggle {
  color: var(--color-laitela--accent);
  background: var(--color-laitela--base);
  border-color: var(--color-laitela--accent);
}

.c-challenge-box--normal {
  border-color: var(--color-accent);
}

.c-autobuyer-box-row__modal {
  background-color: #111014;
  border-color: #383232;
}

.t-metro .c-autobuyer-box-row__modal {
  background-color: var(--color-base);
  border-color: var(--color-text);
}

.t-inverted .c-autobuyer-box-row__modal,
.t-inverted-metro .c-autobuyer-box-row__modal {
  background-color: var(--color-base);
  border-color: var(--color-text);
}

.t-s7 .c-autobuyer-box-row__modal {
  background-color: var(--color-base);
}

.o-autobuyer-toggle-checkbox__label-modal {
  border-color: #383232;
}

.t-inverted .o-autobuyer-toggle-checkbox__label-modal {
  border-color: var(--color-text);
}

.o-autobuyer-input,
.c-autobuyer-box__mode-select {
  color: var(--color-text);
  background: var(--color-base);
  border: 0.1rem solid var(--color-accent);
}

.t-metro .o-autobuyer-input,
.t-metro .c-autobuyer-box__mode-select {
  color: black;
  background: white;
  border: 0.1rem solid #a9a9a9;
}

.t-dark .o-autobuyer-input,
.t-dark-metro .o-autobuyer-input,
.t-dark .c-autobuyer-box__mode-select,
.t-dark-metro .c-autobuyer-box__mode-select {
  color: black;
  background-color: #455a64;
  border: 0.1rem solid black;
}

.t-amoled .o-autobuyer-input,
.t-amoled-metro .o-autobuyer-input,
.t-amoled .c-autobuyer-box__mode-select,
.t-amoled-metro .c-autobuyer-box__mode-select {
  color: white;
  background-color: black;
  border: 0.1rem solid var(--color-accent);
}

.t-s1 .o-autobuyer-input,
.t-s1 .c-autobuyer-box__mode-select {
  background-color: var(--color-base);
  border: 0.1rem solid black;
}

.t-s4 .o-autobuyer-input,
.t-s7 .o-autobuyer-input {
  background-color: white;
}

.t-s6 .o-autobuyer-input,
.t-s6 .c-autobuyer-box__mode-select,
.t-s10 .o-autobuyer-input,
.t-s10 .c-autobuyer-box__mode-select {
  color: white;
  background-color: black;
  border: 0.1rem solid #888888;
}

.o-autobuyer-btn {
  border: 0.1rem solid var(--color-accent);
}

.c-dim-row__name {
  flex-grow: 1;
  width: 55rem;
  font-size: 2rem;
}

.c-dimension-row {
  font-weight: bold;
  color: var(--color-text);
  border-radius: var(--var-border-radius, 0.5rem);
  margin: 0;
  padding: 0.5rem 0 0.5rem 1rem;
}

.l-dimension-single-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 5.5rem;
  align-content: center;
}

.l-dimension-row-antimatter-dim:nth-child(even) {
  background-color: var(--color-antimatter--bg);
}

.l-dimension-row-infinity-dim:nth-child(even) {
  background-color: var(--color-infinity--bg);
}

.l-dimension-row-time-dim:nth-child(even) {
  background-color: var(--color-eternity--bg);
}

.c-infinity-dim-description__accent {
  color: var(--color-infinity);
}

.c-infinity-dim-row:nth-child(even) {
  background: rgba(182, 127, 51, 30%);
}

.s-base--metro .c-infinity-dim-row:nth-child(even) {
  background: rgba(255, 152, 0, 30%);
}

.c-infinity-dim-row__multiplier {
  font-size: 1.4rem;
}

.o-primary-btn--buy-dim {
  max-width: 25rem;
}

.o-primary-btn--buy-id {
  width: 30rem;
  height: 4.4rem;
  margin: 0 0.5rem;
}

.o-primary-btn--id-auto {
  width: 9rem;
  height: 4.4rem;
}

.c-time-dim-description__accent {
  color: var(--color-eternity);
}

.c-time-dim-row:nth-child(even) {
  background: rgba(179, 65, 224, 30%);
}

.s-base--metro .c-time-dim-row:nth-child(even) {
  background: rgba(103, 58, 183, 30%);
}

.c-time-dim-row__multiplier {
  font-size: 1.4rem;
}

.o-primary-btn--buy-td {
  width: 30rem;
  height: 4.4rem;
  margin: 0 0.5rem;
}

.o-primary-btn--buy-td-auto {
  width: 9rem;
  height: 4.4rem;
}

.c-modern-dim-tooltip-container {
  position: relative;
}

.c-modern-dim-tooltip-container .c-modern-dim-purchase-count-tooltip {
  position: absolute;
  width: 20rem;
  top: 50%;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: white;
  background: black;
  border: 0.1rem solid var(--color-text);
  border-radius: var(--var-border-width, 0.5rem);
  /* Button is 25rem wide, tooltip is 20rem */
  transform: translate(calc(-125% - 1rem), -50%);
  padding: 0.5rem;
  visibility: hidden;
}

.c-modern-dim-tooltip-container:hover .c-modern-dim-purchase-count-tooltip {
  visibility: visible;
}

.c-modern-dim-tooltip-container .c-modern-dim-purchase-count-tooltip::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  border-top: 0.5rem solid transparent;
  border-left: 0.5rem solid var(--color-text);
  border-bottom: 0.5rem solid transparent;
  transform: translateY(-50%);
}

.l-reality-upgrade-btn {
  width: 18rem;
  margin: 0.6rem 0.4rem;
}

.l--spoon-btn-group__little-spoon-reality-btn {
  width: 18rem;
  align-self: center;
  margin-top: -0.2rem;
  margin-bottom: 0.6rem;
}

.l-hint-text--reality-upgrade {
  top: -1.3rem;
}

.c-hint-text--reality-upgrade {
  font-size: 0.95rem;
}

.resource-eternity-canreset > div {
  height: 100%;
}

.o-eternity-button__eternity-text {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--color-eternity);
  padding: 0 1rem;
}

.l-game-header__big-crunch-btn {
  top: 15%;
  left: 72%;
}

.l-game-header__eternity-btn {
  top: 15%;
  right: 72%;
}

.l-game-header__new-dim-btn {
  top: 15%;
  right: 72%;
}

.l-game-header__infinity-points {
  top: 8.5rem;
  left: 72%;
}

.l-game-header__eternity-points {
  top: 8.5rem;
  right: 72%;
}

.l-reset-buttons-container__reality-button {
  margin-top: 1.7rem;
  margin-bottom: 0;
}

.l-new-header__amounts-container {
  position: relative;
}

.l-reset-buttons-container {
  width: 100%;
  min-height: 8rem;
  position: absolute;
  top: 0;
}

.l-game-header__antimatter-container {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

.c-achievements-tab__timer {
  color: white;
}

.c-game-header__ip-amount {
  color: var(--color-infinity);
}

.c-game-header__ep-amount {
  color: var(--color-eternity);
}

.t-normal .c-game-header__antimatter,
.t-s12 .c-game-header__antimatter {
  color: var(--color-accent);
}

.t-normal .c-credits-header,
.t-s12 .c-credits-header {
  color: var(--color-accent);
}

.c-dilation-tab__tachyons,
.c-dilation-tab__dilated-time,
.c-dilation-tab__dilated-time-income,
.c-dilation-tab__galaxy-threshold,
.c-dilation-tab__galaxies {
  color: #64dd17;
}

.o-tachyon-particle {
  fill: white;
}

.c-progress-bar {
  width: 80%;
  margin: 2rem 10%;
}

.o-primary-btn--respec-active {
  background-color: var(--color-good);
}

.l-equipped-glyphs {
  justify-content: flex-end;
}

.t-normal .c-sacrificed-glyphs--dragover,
.t-s12 .c-sacrificed-glyphs--dragover {
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 0.1rem 0.1rem  rgb(255, 255, 255);
}

.t-normal .c-glyph-choice-icon,
.t-s12 .c-glyph-choice-icon {
  background-color: rgba(0, 0, 0, 30%);
  border: var(--var-border-width, 0.2rem) solid rgba(0, 0, 0, 40%);
}

.t-normal .c-glyph-choice-effect-list,
.t-s12 .c-glyph-choice-effect-list {
  background-color: rgba(0, 0, 0, 30%);
  border: var(--var-border-width, 0.2rem) solid rgba(0, 0, 0, 40%);
}

.l-information {
  top: 7rem;
}
