@font-face {
  font-family: Typewriter;
  src: url('blob_font_bold.ttf'), url('MonospaceTypewriter.ttf');
}

.c-old-ui {
  padding: 0.9rem 1.5rem 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.l-old-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-old-ui__news-bar {
  flex: 0 0 auto;
  width: 75%;
}

.l-old-ui__header {
  width: 100%;
}

.l-old-ui__big-crunch-btn {
  margin-top: 1.9rem;
  flex-shrink: 0;
}

.l-old-ui__big-crunch-btn--overlay {
  position: absolute;
}

.l-old-ui__page {
  width: 100%;
  flex: 1 0 auto;
}

.l-old-ui__footer {
  padding-bottom: 1rem;
  padding-top: 2.5rem;
}

.l-old-ui-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.o-emptiness {
  font-size: 1.8rem;
}

.o-big-crunch-btn {
  font-family: Typewriter, serif;
  font-size: 5rem;
  width: 36rem;
  height: 10rem;
  z-index: 1;
}

.l-old-ui-antimatter-dim-tab {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s-base--metro .o-tab-btn {
  border-width: 0.1rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0 #9E9E9E;
  border-radius: 0;
}

.t-dark-metro .o-tab-btn {
  box-shadow: 0.1rem 0.1rem 0.1rem 0 black;
}

.t-s4 .o-tab-btn {
  cursor: url(cursor2.cur), auto;
}

.t-s8 .o-tab-btn {
  box-shadow: none;
}

.o-tab-btn--secondary {
  font-size: 1.3rem;
  width: 17.5rem;
  height: 2.5rem;
  margin: 0.5rem 0.8rem;
  margin-bottom: 0.8rem;
}

.c-subtab-button-container {
  border-bottom: 0.2rem solid var(--color-accent);
  margin-bottom: 0.8rem;
}

.s-base--metro .c-subtab-button-container {
  border-width: 0.1rem;
}
