@font-face {
    font-family: Typewriter;
    src: url('blob_font_bold.ttf'), url('MonospaceTypewriter.ttf');
  }

  body.t-s11 {
    color: #999;
    background: black;
    background-size: 100%;
    background-position: center;
  }
  
  .t-s11 .c-tt-amount {
    color: #64DD17;
    text-shadow: 0 0 7px #64DD17;
  }
  
  .t-s11 .c-tt-buy-button--unlocked {
    color: #3AACD6;
    background: black;
    border: 0.1rem solid #3AACD6;
  }
  
  .t-s11 .c-tt-buy-button--unlocked:hover {
    color: black;
    background: #3AACD6;
  }
  
  .t-s11 .c-tt-buy-button--locked {
    color: grey;
    background: black;
    border: 0.1rem solid grey;
  }
  
  .t-s11 .c-tt-buy-button--locked:hover {
    color: black;
    background: var(--color-bad);
    border: 0.1rem solid var(--color-bad);
  }
  
  .t-s11 .c-rm-amount__desc {
    color: #999;
  }
  
  .t-s11 #realityanimbg {
    filter: invert(1);
  }

  /* customizable snowflake styling */
  .snowflake {
    color: #fbc21b;
    font-size: 6em;
    font-family: Typewriter;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 30px #fbc21b,
                 0 0 40px #fbc21b,
                 0 0 50px #fbc21b,
                 0 0 60px #fbc21b,
                 0 0 70px #fbc21b;
    opacity: 0.7;
    pointer-events: none;
  }
