html {
  background: url("../images/s5-bg.jpg");
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 150%;
}

body.t-s5 {
  color: black;
  text-shadow: 0.5px 0.5px 0 black;
  background: none;
}

.t-s5 #container,
.t-s5 #page,
.t-s5 .l-notification-container,
.t-s5 .c-modal,
.t-s5 .time-theorem-buttons,
.t-s5 .c-modern-sidebar {
  filter: sepia(100%) hue-rotate(0deg) saturate(100%);
}
