.t-metro .c-tt-buy-button--unlocked {
  background: #212121;
  color: #00BCD4;
  border: 0.1rem solid #00BCD4;
}

.t-metro .c-tt-buy-button--unlocked:hover {
  color: #212121;
  background: #00BCD4;
}

.t-metro .c-tt-buy-button--locked {
  background: #9E9E9E;
  border: none;
  box-shadow: 1px 1px 1px 0 #000;
}

.t-metro .c-tt-buy-button--locked:hover {
  background: #EF5350;
}