@font-face {
    font-family: Typewriter;
    src: url('blob_font_bold.ttf'), url('MonospaceTypewriter.ttf');
  }

  body.t-s11 {
    color: #999;
    background: black;
    background-size: 100%;
    background-position: center;
  }
  
  .t-s11 .c-tt-amount {
    color: #64DD17;
    text-shadow: 0 0 7px #64DD17;
  }
  
  .t-s11 .c-tt-buy-button--unlocked {
    color: #3AACD6;
    background: black;
    border: 0.1rem solid #3AACD6;
  }
  
  .t-s11 .c-tt-buy-button--unlocked:hover {
    color: black;
    background: #3AACD6;
  }
  
  .t-s11 .c-tt-buy-button--locked {
    color: grey;
    background: black;
    border: 0.1rem solid grey;
  }
  
  .t-s11 .c-tt-buy-button--locked:hover {
    color: black;
    background: var(--color-bad);
    border: 0.1rem solid var(--color-bad);
  }
  
  .t-s11 .c-rm-amount__desc {
    color: #999;
  }
  
  .t-s11 #realityanimbg {
    filter: invert(1);
  }

  /* customizable snowflake styling */
  .snowflake {
    color: #fbc21b;
    font-size: 6em;
    font-family: Typewriter;
    /*text-shadow: 0 0 1px #000;*/
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 30px #fbc21b,
                 0 0 40px #fbc21b,
                 0 0 50px #fbc21b,
                 0 0 60px #fbc21b,
                 0 0 70px #fbc21b;
    opacity: 0.7;
    pointer-events: none;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top: -20%}100%{top: 100%}}
  @-webkit-keyframes snowflakes-shake{
    0%{-webkit-transform: translateX(0px); transform: translateX(0px)}
    50%{-webkit-transform: translateX(80px); transform: translateX(80px)}
    100%{-webkit-transform: translateX(0px); transform: translateX(0px)}
  }
  @keyframes snowflakes-fall{
    0%{top: -20%}
    100%{top: 100%}
  }
  @keyframes snowflakes-shake{
    0%{transform: translateX(0px)}
    50%{transform: translateX(80px)}
    100%{transform: translateX(0px)}
  }
  .snowflake{
    position: fixed; top: -20%; z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none; cursor:default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 15s, 5s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 15s, 5s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
  }

  .snowflake:nth-of-type(0){left: 1%; -webkit-animation-delay: 0s, 0s; animation-delay: 0s, 0s}
  .snowflake:nth-of-type(1){left: 10%; -webkit-animation-delay: 1s, 1s; animation-delay: 1s, 1s}
  .snowflake:nth-of-type(2){left: 20%; -webkit-animation-delay: 6s, .5s; animation-delay: 6s, .5s}
  .snowflake:nth-of-type(3){left: 30%; -webkit-animation-delay: 4s, 2s; animation-delay: 4s, 2s}
  .snowflake:nth-of-type(4){left: 40%; -webkit-animation-delay: 2s, 2s; animation-delay: 2s, 2s}
  .snowflake:nth-of-type(5){left: 50%; -webkit-animation-delay: 8s, 3s; animation-delay: 8s, 3s}
  .snowflake:nth-of-type(6){left: 60%; -webkit-animation-delay: 6s, 2s; animation-delay: 6s, 2s}
  .snowflake:nth-of-type(7){left: 70%; -webkit-animation-delay: 2.5s, 1s; animation-delay: 2.5s, 1s}
  .snowflake:nth-of-type(8){left: 80%; -webkit-animation-delay: 1s, 0s; animation-delay: 1s, 0s}
  .snowflake:nth-of-type(9){left: 90%; -webkit-animation-delay: 3s, 1.5s; animation-delay: 3s, 1.5s}
