* {
  font-family: Arial, Typewriter;
  transition-duration: 1ms !important;
  border-width: 1px !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  animation: none !important;
}

#ui {
  filter: saturate(0) !important;
}

button {
  border-radius: 0 !important;
  background-image: linear-gradient(to top, rgb(222, 222, 222) 0%, rgb(246, 246, 246) 100%) !important;
  padding: 3px !important;
  border: 0.1rem solid #9b9b9b !important;
  color: black !important;
  text-decoration: none !important;
}

.o-primary-btn {
  border-radius: 0 !important;
  background-image: linear-gradient(to top, rgb(222, 222, 222) 0%, rgb(246, 246, 246) 100%) !important;
  padding: 3px !important;
  border: 0.1rem solid #9b9b9b !important;
  color: black !important;
  text-decoration: none !important;
}

button:hover {
  border: 0.1rem solid #737373 !important;
}

.c-glyph-tooltip {
  filter: saturate(0);
  text-shadow: none !important;
}

.c-glyph-tooltip__effect span {
  text-shadow: none !important;
}
