body.t-amoled {
  color: #b9b9b9;
  background: black;
}

input.t-amoled {
  background-color: black;
  border: 0.1rem solid black;
}

.t-amoled .c-tt-amount {
  color: #64dd17;
  text-shadow: 0 0 7px #64dd17;
}

.t-amoled .c-tt-buy-button--unlocked {
  color: #3aacd6;
  background: black;
  border: 0.1rem solid #3aacd6;
}

.t-amoled .c-tt-buy-button--unlocked:hover {
  color: black;
  background: #3aacd6;
}

.t-amoled .c-tt-buy-button--locked {
  color: var(--color-bad);
  background: black;
  border: 0.1rem solid var(--color-bad);
}

.t-amoled .c-tt-buy-button--locked:hover {
  color: black;
  background: var(--color-bad);
  border: 0.1rem solid var(--color-bad);
}

.t-amoled .c-rm-amount__desc {
  color: #757575;
}

.t-amoled .c-alchemy-resource-info {
  color: white;
  border-color: white;
}

.t-amoled .o-primary-btn--disabled {
  background-color: #333333;
}

.t-amoled .c-challenge-box--normal {
  border-color: var(--color-text);
}

.t-amoled .ttshop-background {
  border-color: var(--color-text);
}
