/*
This file is for styles that are part of Vue components.
   If your component is huge; it may want its own css file.
   Things more directly related to the game and its theming should also be separated if possible.
*/

.l-expanding-control-box {
  position: relative;
  z-index: 3;
}

.l-expanding-control-box__container {
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.l-expanding-control-box__container--transition {
  transition: max-height 0.5s;
  -webkit-transition: max-height 0.5s;
}

.l-expanding-control-box__button {
  display: block;
  width: 100%;
  white-space: nowrap;
  border: none !important;
}

.l-hover-menu__wrapper {
  position: relative;
}
