.l-glyph-component {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}

.c-glyph-component {
  font-family: Typewriter;
  background: black;
  padding-bottom: 0.2em;
}

.c-glyph-component--dragging {
  opacity: 0.5;
}

.l-glyph-sacrifice-options {
  display: inline-flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 2rem;
  position: relative;
}

.c-glyph-sacrifice-options {
  background: black;
}

.l-glyph-sacrifice-options__help {
  position: absolute;
  left: calc(100% - 0.2rem);
  top: 0.2rem;
  transform: translateX(-100%);
  z-index: 2;
}

.c-glyph-sacrifice-options__help {
  color: #d5ffd7;
  font-size: 1.2rem;
}

.l-glyph-sacrifice-options__option {
  box-sizing: border-box;
}

.c-glyph-sacrifice-options__option {
  font-weight: bold;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-width: 0.1rem 0.2rem;
  border-style: solid;
}

.c-glyph-sacrifice-options__option--active {
  color: #d5ffd7;
  border-color: #d5ffd7;
  box-shadow: 0 0 0.1rem 0.1rem #d5ffd7;
  z-index: 2;
}

.c-glyph-sacrifice-options__option--inactive {
  color: var(--color-reality);
  border-color: var(--color-reality);
}

.l-glyph-sacrifice-options__rarity-sliders {
  padding: 0.5rem 0.25rem 0.25rem;
}

.l-glyph-sacrifice-options__rarity-slider-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  width: 19rem;
}

.c-glyph-sacrifice-options__rarity-slider-process {
  background-color: #d5ffd7;
}

.c-glyph-sacrifice-options__rarity-slider-bg {
  background-color: var(--color-reality);
}

.c-glyph-sacrifice-options__rarity-slider-handle {
  color: #d5ffd7;
  background-color: black !important;
  box-shadow: 0 0 0 0.1rem #d5ffd7 !important;
  border-radius: 0.8rem !important;
}

.c-glyph-sacrifice-options__advanced {
  color: #d5ffd7;
}

.c-auto-sac-type-tab__input {
  width: 2.5em;
  height: 1.5em;
  font-size: 1.2rem;
  background-color: #333;
  color: #d5ffd7;
  border-radius: 0.2rem;
  border: solid 0.1rem;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.c-auto-sac-effect-tab__input::-webkit-inner-spin-button,
.c-auto-sac-effect-tab__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.c-auto-sac-effect-tab__input {
  width: 1.5em;
  height: 1.5em;
  font-size: 1.2rem;
  text-align: center;
  background-color: #333;
  color: #d5ffd7;
  border-radius: 0.2rem;
  border: solid 0.1rem;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.c-auto-sac-effect-tab__checkbox {
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.2rem;
  border: solid 0.1rem;
}

.c-auto-sac-type-tab__input:focus {
  font-weight: bold;
  background-color: #555;
  box-shadow: 0 0 0.4rem 0.1rem #d5ffd7;
}

.c-auto-sac-type-tab__input::-webkit-outer-spin-button,
.c-auto-sac-type-tab__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.l-glyph-sacrifice-options__advanced-effect-filt-header {
  grid-row: 1;
  grid-column: 3;
}

.c-glyph-sacrifice-options__advanced-toggle {
  background: black;
  border-radius: 0.2rem;
  border: solid 0.1rem;
  font-size: 1.2rem;
  font-family: Typewriter, serif
}

.l-advanced-sac-options-for-glyph-type {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.l-auto-sac-type-tab {
  display: flex;
  flex-direction: column;
}

.l-auto-sac-type-tab__row-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.25rem 0.5rem;
}

.c-auto-sac-type-tab__effect-desc {
  border-radius: 0.5em;
  border: 0.1rem solid;
  padding: 0.25em 0.5em;
  width: 12em;
  min-height: 3em;
}

.l-specified-effect-tab__effect-desc {
  display: inline-flex;
  width: 22rem;
  align-items: center;
  justify-content: center;
}

.l-auto-sac-type-tab__effect-desc {
  display: inline-flex;
  width: 18rem;
  align-items: center;
  justify-content: center;
}

.c-auto-sac-type-tab__header {
  font-size: larger;
  font-weight: bold;
}

.l-glyph-sacrifice-options__advanced-type-select {
  font-size: 2em;
  width: 3em;
  height: 3em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 0.4rem;
}

.c-glyph-sacrifice-options__advanced-type-select {
  color: #888;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem 0.25rem 0.25rem;
  font-family: Typewriter;
}

.c-glyph-sacrifice-options__advanced-type-select:hover {
  background: #131;
  box-shadow: 0 0 0.8rem 0.4rem #131;
}

.l-glyph-auto-pick-options {
  display: inline-flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 2rem;
}

.c-glyph-auto-pick-options {
  background: black;
}

.l-glyph-auto-pick-options__option {
  box-sizing: border-box;
}

.c-glyph-auto-pick-options__option {
  font-weight: bold;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-width: 0.1rem 0.2rem;
  border-style: solid;
}

.c-glyph-auto-pick-options__option--active {
  color: #d5ffd7;
  border-color: #d5ffd7;
  box-shadow: 0 0 0.1rem 0.1rem #d5ffd7;
  z-index: 2;
}

.c-glyph-auto-pick-options__option--inactive {
  color: var(--color-reality);
  border-color: var(--color-reality);
}

.c-glyph-tooltip__effect {
  font-weight: normal;
  text-shadow: none;
  margin-bottom: 1em;
}

.l-glyph-tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27.4rem;
  padding: 0.5rem 0;
  position: absolute;
  z-index: 6;
}

.l-glyph-tooltip--up-left {
  transform: translate(calc(-100% - 0.7rem), -100%);
}

.l-glyph-tooltip--down-left {
  transform: translate(calc(-100% - 0.7rem), 0);
}

.l-glyph-tooltip--up-right {
  transform: translate(calc(0.7rem), -100%);
}

.l-glyph-tooltip--down-right {
  transform: translate(calc(0.7rem), 0);
}

.c-glyph-tooltip {
  background-color: #4a4a4a;
  color: #fff;
  font-size: 1.4rem;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: center;
  border-radius: 0.6rem;
  transition: opacity 0.3s;
  text-shadow: none;
  padding: 1.2rem;
}

.l-glyph-tooltip::after {
  content: "";
  position: absolute;
  border-width: 0.5rem;
  border-style: solid;
  pointer-events: none;
}

.l-glyph-tooltip--up-left::after {
  top: 100%;
  left: 100%;
  margin-left: -0.5rem;
  margin-top: -1rem;
  border-color: transparent transparent #4a4a4a;
}

.l-glyph-tooltip--down-left::after {
  top: 0;
  left: 100%;
  margin-left: -0.5rem;
  border-color: #4a4a4a transparent transparent;
}

.l-glyph-tooltip--up-right::after {
  top: 100%;
  left: 0;
  margin-left: -0.5rem;
  margin-top: -1rem;
  border-color: transparent transparent #4a4a4a;
}

.l-glyph-tooltip--down-right::after {
  top: 0;
  left: 0;
  margin-left: -0.5rem;
  border-color: #4a4a4a transparent transparent;
}

.c-glyph-tooltip__description {
  width: 19rem;
  min-height: 3.5rem;
  font-size: 1.5rem;
}

.l-glyph-tooltip__level {
  margin-left: auto;
}

.l-glyph-tooltip__header {
  display: flex;
}

.l-glyph-tooltip__effects {
  margin-top: 0.5rem;
}

.c-glyph-tooltip__sacrifice {
  color: #b4b4b4;
}

.c-glyph-tooltip__sacrifice--touchable {
  color: #d4d4ff;
  border: 0.1rem solid #d4d4ff;
  border-radius: 0.5em;
  padding: 0.25em 1em;
}

.l-modal-glyph-selection {
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

.l-modal-glyph-selection__row {
  flex-direction: row;
}

.l-modal-glyph-selection__glyph {
  margin: 1rem;
}

.l-equipped-glyphs {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-grow: 0;
}

.l-equipped-glyphs__slots {
  width: 18rem;
  height: 18rem;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.l-equipped-glyphs__dropzone {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
}

.l-equipped-glyphs__empty {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.c-equipped-glyphs__empty {
  background-color: gainsboro;
}

.t-dark-metro .c-equipped-glyphs__empty {
  background-color: #333;
}

.t-dark .c-equipped-glyphs__empty {
  background-color: #333;
}

.t-s6 .c-equipped-glyphs__empty {
  background-color: #333333;
}

.c-equipped-glyphs__empty--dragover {
  box-shadow: 0 0 0.5rem 0.25rem #444;
}

.l-equipped-glyphs__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.l-equipped-glyphs__respec {
  width: 15rem;
  height: 4rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.l-equipped-glyphs__undo {
  width: 5em;
  height: 4rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 0.2rem;
}

.l-equipped-glyphs__respec-location {
  width: 15rem;
  height: 4.5rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.c-current-glyph-effects__effect--capped {
  color: #ff8000;
}

.l-current-glyph-effects__capped-header {
  margin-bottom: 1em;
}

.l-current-glyph-effects {
  overflow-x: hidden;
  overflow-y: scroll;
  height: initial;
}

.l-current-glyph-effects::-webkit-scrollbar {
  width: 1rem;
}

.l-current-glyph-effects::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem grey;
  border-radius: 1rem;
}

.l-current-glyph-effects::-webkit-scrollbar-thumb {
  background: #08450b;
  border-radius: 0.5rem;
}

.c-current-glyph-effects {
  border: 0.1rem solid rgb(184, 184, 184);
  border-radius: 0.5rem;
  padding: 1.2rem;
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0;
  height: 30rem;
  width: 50rem;
  overflow: auto;
}

.t-s8 .c-current-glyph-effects {
  border-color: black;
}

.l-equipped-glyphs-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 2rem;
}

.l-glyph-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center
}

.l-glyph-info-options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 1rem;
  width: 90%;
}

.l-glyph-info-button {
  width: 60%;
}

.l-sacrificed-glyphs {
  margin-top: 1rem;
}

.c-glyph-peek {
  border: 0.1rem solid rgb(184, 184, 184);
  border-radius: 0.5rem;
  padding: 1.2rem;
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0;
  height: 7.5rem;
  width: 30rem;
}

.c-sacrificed-glyphs {
  border: 0.1rem solid rgb(184, 184, 184);
  border-radius: 0.5rem;
  padding-bottom: 1rem;
}

.c-sacrificed-glyphs--dragover {
  border-color: rgb(0, 0, 0);
  box-shadow: 0 0 0.1rem 0.1rem  rgb(0, 0, 0);
}

.t-dark .c-sacrificed-glyphs--dragover,
.t-dark-metro .c-sacrificed-glyphs--dragover,
.t-s6 .c-sacrificed-glyphs--dragover {
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 0.1rem 0.1rem  rgb(255, 255, 255);
}

.c-sacrificed-glyphs__header {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.25rem;
}

.l-sacrificed-glyphs__type-symbol {
  display: inline-block;
}

.c-sacrificed-glyphs__type-symbol {
  font-size: 2rem;
  font-weight: bold;
}

.l-sacrificed-glyphs__type-amount {
  display: inline-block;
}

.c-sacrificed-glyphs__type-amount {
  font-size: 1.5rem;
  font-weight: bold;
}

.c-sacrificed-glyphs__type-new-amount {
  color: rgb(0, 180, 0);
}

.t-s8 .c-sacrificed-glyphs__type-new-amount {
  color: rgb(0, 80, 0);
}

.l-sacrificed-glyphs__help {
  margin-bottom: 1rem;
}

.c-sacrificed-glyphs__confirm {
  cursor: pointer;
  user-select: none;
}

.l-glyph-inventory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*height: 59rem;*/
  height: auto;
  align-items: center;
}

.l-glyph-inventory__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*width: 63.5rem;*/
  width: auto;
  align-items: center;
}

.l-glyph-inventory__slot {
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
}

.c-glyph-inventory__protected-slot {
  background-color: rgb(110, 110, 110);
}

.c-glyph-inventory__slot {
  background-color: gainsboro;
}

.t-dark .c-glyph-inventory__slot,
.t-dark-metro .c-glyph-inventory__slot,
.t-s6 .c-glyph-inventory__slot {
  background-color: #333;
}

.l-glyph-inventory__sort {
  width: auto;
  height: auto;
  padding: 0.5em;
}
