.l-glyph-component {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}

.c-glyph-component {
  font-family: Typewriter;
  background: black;
}

.l-new-glyph {
  position: absolute;
  top: -0.8rem;
  left: -0.8rem;
  z-index: 5;
  color: black;
  background-color: #ffff00;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

.c-glyph-component--dragging {
  opacity: 0.5;
}

.l-glyph-sacrifice-options {
  display: inline-flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 2rem;
  position: relative;
  width: 27rem;
}

.c-glyph-sacrifice-options {
  background: black;
  border: 0.2rem solid var(--color-reality);
  border-radius: 0.5rem;
}

.s-base--metro .c-glyph-sacrifice-options {
  border-width: 0.1rem;
  border-radius: 0;
}

.l-glyph-sacrifice-options__help {
  position: absolute;
  left: calc(100% - 0.2rem);
  top: 0.2rem;
  transform: translateX(-100%);
  z-index: 2;
}

.c-glyph-sacrifice-options__help {
  color: #d5ffd7;
  font-size: 1.2rem;
}

.l-glyph-sacrifice-options__option {
  box-sizing: border-box;
}

.c-glyph-sacrifice-options__option {
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem;
  border-width: 0.1rem 0.2rem;
  border-style: solid;
  margin-bottom: -0.1rem;
  transition: color 0.2s;
}

.s-base--metro .c-glyph-sacrifice-options__option {
  border-width: 0.1rem;
}

.c-glyph-sacrifice-options__option:hover {
  color: #d5ffd7;
}

.c-glyph-sacrifice-options__option--active {
  color: #d5ffd7;
  border-color: #d5ffd7;
  z-index: 1;
}

.c-glyph-sacrifice-options__option--inactive {
  color: var(--color-reality);
  border-color: var(--color-reality);
}

.l-glyph-sacrifice-options__rarity-sliders {
  padding: 0.5rem 0.25rem 0.25rem;
}

.l-glyph-sacrifice-options__rarity-slider-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  width: 19rem;
}

.c-glyph-sacrifice-options__rarity-slider-process {
  background-color: #d5ffd7;
}

.c-glyph-sacrifice-options__rarity-slider-bg {
  background-color: var(--color-reality);
}

.c-glyph-sacrifice-options__rarity-slider-handle {
  color: #d5ffd7;
  background-color: black !important;
  box-shadow: 0 0 0 0.1rem #d5ffd7 !important;
  border-radius: 0.8rem !important;
}

.c-glyph-sacrifice-options__advanced {
  color: #d5ffd7;
}

.c-auto-sac-type-tab__input {
  width: 2.5em;
  height: 1.5em;
  font-size: 1.2rem;
  background-color: #333;
  color: #d5ffd7;
  border-radius: 0.2rem;
  border: solid 0.1rem;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.c-auto-sac-effect-tab__input::-webkit-inner-spin-button,
.c-auto-sac-effect-tab__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.c-auto-sac-effect-tab__input {
  width: 1.5em;
  height: 1.5em;
  font-size: 1.2rem;
  text-align: center;
  background-color: #333;
  color: #d5ffd7;
  border-radius: 0.2rem;
  border: solid 0.1rem;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.c-auto-sac-effect-tab__checkbox {
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.2rem;
  border: solid 0.1rem;
}

.c-auto-sac-type-tab__input:focus {
  font-weight: bold;
  background-color: #555;
  box-shadow: 0 0 0.4rem 0.1rem #d5ffd7;
}

.c-auto-sac-type-tab__input::-webkit-outer-spin-button,
.c-auto-sac-type-tab__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.l-glyph-sacrifice-options__advanced-effect-filt-header {
  grid-row: 1;
  grid-column: 3;
}

.c-glyph-sacrifice-options__advanced-toggle {
  background: black;
  border-radius: 0.2rem;
  border: solid 0.1rem;
  font-size: 1.2rem;
  font-family: Typewriter, serif
}

.l-advanced-sac-options-for-glyph-type {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.l-auto-sac-type-tab {
  display: flex;
  flex-direction: column;
}

.l-auto-sac-type-tab__row-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.25rem 0.5rem;
}

.c-auto-sac-type-tab__effect-desc {
  border-radius: 0.5em;
  border: 0.1rem solid;
  padding: 0.25em 0.5em;
  width: 12em;
  min-height: 3em;
}

.c-auto-sac-type-tab__effect-desc--active {
  cursor: pointer;
  opacity: 1;
  font-weight: bold;
  text-shadow: 0 0 0.3rem;
}

.c-auto-sac-type-tab__effect-desc--inactive {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.c-auto-sac-type-tab__effect-desc--inactive:hover {
  opacity: 0.8;
  text-shadow: 0 0 0.3rem;
}

.l-specified-effect-tab__effect-desc {
  display: inline-flex;
  width: 22rem;
  align-items: center;
  justify-content: center;
}

.l-auto-sac-type-tab__effect-desc {
  display: inline-flex;
  width: 18rem;
  align-items: center;
  justify-content: center;
}

.c-auto-sac-type-tab__header {
  font-size: larger;
  font-weight: bold;
}

.l-glyph-sacrifice-options__advanced-type-select {
  font-size: 2em;
  width: 3em;
  height: 3em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 0.4rem;
}

.c-glyph-sacrifice-options__advanced-type-select {
  color: #888;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem 0.25rem 0.25rem;
  font-family: Typewriter;
  cursor: pointer;
  line-height: 0.1rem;
  transition-duration: 0.15s;
}

.c-glyph-sacrifice-options__advanced-type-select:hover {
  background: #131;
  box-shadow: 0 0 0.8rem 0.4rem #131;
}

.l-glyph-auto-pick-options {
  display: inline-flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 2rem;
}

.c-glyph-auto-pick-options {
  background: black;
}

.l-glyph-auto-pick-options__option {
  box-sizing: border-box;
}

.c-glyph-auto-pick-options__option {
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem;
  border-width: 0.1rem 0.2rem;
  border-style: solid;
  margin-bottom: -0.1rem;
  transition: color 0.2s;
}

.c-glyph-auto-pick-options__option:hover {
  color: #d5ffd7;
}

.c-glyph-auto-pick-options__option--active {
  color: #d5ffd7;
  border-color: #d5ffd7;
  z-index: 1;
}

.c-glyph-auto-pick-options__option--inactive {
  color: var(--color-reality);
  border-color: var(--color-reality);
}

.c-glyph-tooltip__effect {
  font-weight: normal;
  text-shadow: none;
  margin-bottom: 1em;
}

.l-glyph-tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27.4rem;
  padding: 0.5rem 0;
  position: absolute;
}

.l-glyph-tooltip--up-left {
  transform: translate(calc(-100% - 0.7rem), -100%);
}

.l-glyph-tooltip--down-left {
  transform: translate(calc(-100% - 0.7rem), 0);
}

.l-glyph-tooltip--up-right {
  transform: translate(calc(0.7rem), -100%);
}

.l-glyph-tooltip--down-right {
  transform: translate(calc(0.7rem), 0);
}

.c-glyph-tooltip {
  background-color: black;
  color: #fff;
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
  border-radius: 0.6rem;
  transition: opacity 0.3s;
  text-shadow: none;
  padding: 0.6rem;
  padding-bottom: 0.6rem;
  border: 0.2rem solid black;
}

.s-base--metro .c-glyph-tooltip {
  border-radius: 0;
  border-width: 0.1rem;
}

.c-glyph-tooltip__description {
  font-size: 1.6rem;
}

.l-glyph-tooltip__info {
  font-size: 1.1rem;
}

.c-glyph-tooltip__header {
  display: flex;
  flex-direction: column;
  width: calc(100% + 2.4rem);
  border: 0.2rem solid;
  padding: 0.3rem 1rem 0.7rem;
  font-weight: bold;
  margin-top: -4rem;
  background-color: black;
  border-radius: 0.8rem;
}

.s-base--metro .c-glyph-tooltip__header {
  border-radius: 0;
  border-width: 0.1rem;
}

.l-glyph-tooltip__effects {
  margin-top: 0.8rem;
  margin-bottom: -0.8rem;
}

.c-glyph-tooltip__sacrifice {
  color: #b4b4b4;
  font-size: 1rem;
  font-weight: normal;
}

.c-glyph-tooltip__sacrifice--touchable {
  color: #d4d4ff;
  border: 0.1rem solid #d4d4ff;
  border-radius: 0.5em;
  padding: 0.25em 1em;
}

.l-modal-glyph-selection__row {
  display: flex;
  flex-direction: row;
}

.l-modal-glyph-selection__glyph {
  margin: 1rem;
}

.l-modal-glyph-selection__glyph--selected {
  box-shadow: #B4B420 0 0 1rem 0.5rem !important;
}

.l-equipped-glyphs {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-grow: 0;
}

.l-equipped-glyphs__slots {
  width: 18rem;
  height: 18rem;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.l-equipped-glyphs__dropzone {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
}

.l-equipped-glyphs__empty {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.c-equipped-glyphs__empty {
  background-color: gainsboro;
}

.t-dark-metro .c-equipped-glyphs__empty {
  background-color: #333;
}

.t-dark .c-equipped-glyphs__empty {
  background-color: #333;
}

.t-s6 .c-equipped-glyphs__empty,
.t-s10 .c-equipped-glyphs__empty {
  background-color: #333333;
}

.c-equipped-glyphs__empty--dragover {
  box-shadow: 0 0 0.5rem 0.25rem #444;
}

.l-equipped-glyphs__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.l-equipped-glyphs__small {
  width: 5rem;
  height: 4rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 0.2rem;
}

.l-equipped-glyphs__large {
  width: 15rem;
  height: 4rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.c-glyph-set-save-button {
  height: 2.5rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.l-glyph-set-save-button-spacing {
  margin-top: 0.4rem;
}

.l-glyph-set-save-spacing {
  height: 6rem;
  display: flex;
  flex-direction: column;
  place-content: flex-end;
}

.l-equipped-glyphs__larger {
  width: 20.2rem;
}

.c-current-glyph-effects__effect--capped {
  color: #ff8000 !important;
}

.l-current-glyph-effects__capped-header {
  margin-bottom: 1em;
}

.l-current-glyph-effects {
  overflow-x: hidden;
  overflow-y: scroll;
  height: initial;
}

.l-current-glyph-effects::-webkit-scrollbar {
  width: 1rem;
}

.l-current-glyph-effects::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem grey;
  border-radius: 1rem;
}

.l-current-glyph-effects::-webkit-scrollbar-thumb {
  background: #08450b;
  border-radius: 0.5rem;
}

.c-current-glyph-effects {
  border: 0.1rem solid #b8b8b8;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 1.2rem;
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0;
  height: 30rem;
  width: 50rem;
  overflow: auto;
}

.s-base--metro .c-current-glyph-effects {
  border-radius: 0;
}

.t-s8 .c-current-glyph-effects {
  border-color: black;
}

.c-current-glyph-effects__header {
  font-weight: bold;
  font-size: 1.2rem;
}

.l-equipped-glyphs-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 2rem;
}

.l-glyph-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center
}

.t-s6 .l-glyph-info-wrapper,
.t-s10 .l-glyph-info-wrapper {
  background-color: black;
}

.c-glyph-info-options {
  display: flex;
  flex-direction: row;
  width: 50rem;
  height: 3rem;
  margin-bottom: -0.1rem;
  border: 0.1rem solid #b8b8b8;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.s-base--metro .c-glyph-info-options {
  border-radius: 0;
}

.t-s8 .c-glyph-info-options {
  border-color: black;
}

.c-glyph-info-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  font-size: 1.2rem;
  width: 50%;
  cursor: pointer;
  transition: font-size 0.2s;
}

.t-s8 .c-glyph-info-button {
  border-color: black !important;
}

.c-glyph-info-button--active {
  font-size: 1.25rem;
  font-weight: bold;
  cursor: default;
}

.c-glyph-info-button:hover {
  font-size: 1.25rem;
}

.l-sacrificed-glyphs {
  margin-top: 1rem;
}

.c-glyph-peek {
  border: 0.1rem solid #b8b8b8;
  border-radius: 0.5rem;
  padding: 1.2rem;
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0;
  height: 9rem;
  width: 30rem;
}

.c-glyph-choice-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 74rem;
}

.c-glyph-choice-single-glyph {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.5rem;
  margin: 0.5rem;
  height: 12rem;
  width: 36rem;
}

.c-glyph-choice-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0.2rem solid rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  height: 10rem;
  width: 10rem;
  text-shadow: 0.1rem 0.1rem 0.1rem black, 0.1rem 0.1rem 0 black;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
}

.s-base--metro .c-glyph-choice-icon {
  border-radius: 0;
  border-width: 0.1rem;
}

.c-glyph-choice-effect-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0.2rem solid rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  height: 11rem;
  width: 25rem;
}

.s-base--metro .c-glyph-choice-effect-list {
  border-radius: 0;
  border-width: 0.1rem;
}

.s-base--metro .c-glyph-peek {
  border-radius: 0;
}

.t-s8 .c-glyph-peek {
  border-color: black;
}

.c-sacrificed-glyphs--dragover {
  border-color: rgb(0, 0, 0);
  box-shadow: 0 0 0.1rem 0.1rem  rgb(0, 0, 0);
}

.s-base--dark .c-sacrificed-glyphs--dragover {
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 0.1rem 0.1rem  rgb(255, 255, 255);
}

.c-sacrificed-glyphs__header {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.25rem;
}

.l-sacrificed-glyphs__type-symbol {
  display: inline-block;
}

.c-sacrificed-glyphs__type-symbol {
  font-size: 2rem;
  font-weight: bold;
}

.l-sacrificed-glyphs__type-amount {
  display: inline-block;
}

.c-sacrificed-glyphs__type-amount {
  font-size: 1.5rem;
  font-weight: bold;
}

.c-sacrificed-glyphs__type-new-amount {
  color: rgb(0, 180, 0);
}

.t-s8 .c-sacrificed-glyphs__type-new-amount {
  color: rgb(0, 80, 0);
}

.l-sacrificed-glyphs__help {
  margin-bottom: 1rem;
}

.c-sacrificed-glyphs__confirm {
  cursor: pointer;
  user-select: none;
}

.l-glyph-inventory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*height: 59rem;*/
  height: auto;
  align-items: center;
}

.l-glyph-inventory__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*width: 63.5rem;*/
  width: auto;
  align-items: center;
}

.l-glyph-inventory__slot {
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
}

.c-glyph-inventory__protected-slot {
  background-color: rgb(110, 110, 110);
}

.c-glyph-inventory__slot {
  background-color: gainsboro;
}

.s-base--dark .c-glyph-inventory__slot {
  background-color: #333;
}

.l-glyph-inventory__sort {
  width: auto;
  height: auto;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.l-glyph-color-box {
  display: flex;
  position: relative;
}

.l-glyph-color-position__top {
  position: absolute;
  right: 25rem;
  width: 0%;
}

.l-glyph-color-position__low {
  position: absolute;
  top: 2.9rem;
  right: 25rem;
  width: 0%;
}

.l-glyph-side-box-position {
  position: relative;
}

.l-glyph-side-box-button {
  display: flex;
  flex-direction: column;
  width: 8rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.l-glyph-side-box-button-position {
  position: absolute;
  top: 2rem;
  right: -9rem;
}

.l-glyph-side-box-button--attention {
  animation: a-glyph-side-box-button-glow 1s infinite;
}

@keyframes a-glyph-side-box-button-glow {
  0%   { box-shadow: inset 0 0 2rem var(--color-ra-pet-effarig) }
  50%  { box-shadow: inset 0 0 0 }
  100%  { box-shadow: inset 0 0 2rem var(--color-ra-pet-effarig) }
}

.o-glyph-color-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  border: 0.1rem solid #b8b8b8;
  border-top-left-radius: 0.3rem;
  border-bottom-right-radius: 1rem;
  color: black;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition-duration: 0.2s;
}

.s-base--metro .o-glyph-color-checkbox {
  border-radius: 0;
}

.t-s8 .o-glyph-color-checkbox {
  border-color: black;
}


.o-glyph-color-checkbox:hover {
  transform: scale(1.1) translate(0.1rem, 0.1rem);
}

.o-glyph-color-checkbox--active {
  background: var(--color-good);
}

.o-glyph-color-checkbox--inactive {
  color: var(--color-text);
}

@keyframes a-reality-glyph-outer-cycle {
  0% {
    background-color: #b67f33;
    box-shadow: #b67f33 0 0 1rem 0.2rem;
  }
  20% {
    background-color: #64dd17;
    box-shadow: #64dd17 0 0 1rem 0.2rem;
  }
  40% {
    background-color: #22aa48;
    box-shadow: #22aa48 0 0 1rem 0.2rem;
  }
  60% {
    background-color: #03a9f4;
    box-shadow: #03a9f4 0 0 1rem 0.2rem;
  }
  80% {
    background-color: #b241e3;
    box-shadow: #b241e3 0 0 1rem 0.2rem;
  }
  100% {
    background-color: #b67f33;
    box-shadow: #b67f33 0 0 1rem 0.2rem;
  }
}

@keyframes a-reality-glyph-over-cycle {
  0% {
    box-shadow: #b67f33 0 0 1rem calc(0.3rem) inset;
  }
  20% {
    box-shadow: #64dd17 0 0 1rem calc(0.3rem) inset;
  }
  40% {
    box-shadow: #22aa48 0 0 1rem calc(0.3rem) inset;
  }
  60% {
    box-shadow: #03a9f4 0 0 1rem calc(0.3rem) inset;
  }
  80% {
    box-shadow: #b241e3 0 0 1rem calc(0.3rem) inset;
  }
  100% {
    box-shadow: #b67f33 0 0 1rem calc(0.3rem) inset;
  }
}

@keyframes a-reality-glyph-icon-cycle {
  0% {
    color: #b67f33;
    text-shadow: #b67f33 -0.04em 0.04em 0.08em;
  }
  20% {
    color: #64dd17;
    text-shadow: #64dd17 -0.04em 0.04em 0.08em;
  }
  40% {
    color: #22aa48;
    text-shadow: #22aa48 -0.04em 0.04em 0.08em;
  }
  60% {
    color: #03a9f4;
    text-shadow: #03a9f4 -0.04em 0.04em 0.08em;
  }
  80% {
    color: #b241e3;
    text-shadow: #b241e3 -0.04em 0.04em 0.08em;
  }
  100% {
    color: #b67f33;
    text-shadow: #b67f33 -0.04em 0.04em 0.08em;
  }
}

@keyframes a-reality-glyph-name-cycle {
  0% {
    color: #b67f33;
    text-shadow: black -1px 1px 1px, black 1px 1px 1px, black -1px -1px 1px, black 1px -1px 1px, #b67f33 0 0 3px
  }
  20% {
    color: #64dd17;
    text-shadow: black -1px 1px 1px, black 1px 1px 1px, black -1px -1px 1px, black 1px -1px 1px, #64dd17 0 0 3px
  }
  40% {
    color: #22aa48;
    text-shadow: black -1px 1px 1px, black 1px 1px 1px, black -1px -1px 1px, black 1px -1px 1px, #22aa48 0 0 3px
  }
  60% {
    color: #03a9f4;
    text-shadow: black -1px 1px 1px, black 1px 1px 1px, black -1px -1px 1px, black 1px -1px 1px, #03a9f4 0 0 3px
  }
  80% {
    color: #b241e3;
    text-shadow: black -1px 1px 1px, black 1px 1px 1px, black -1px -1px 1px, black 1px -1px 1px, #b241e3 0 0 3px
  }
  100% {
    color: #b67f33;
    text-shadow: black -1px 1px 1px, black 1px 1px 1px, black -1px -1px 1px, black 1px -1px 1px, #b67f33 0 0 3px
  }
}

@keyframes a-reality-glyph-description-cycle {
  0% {
    color: #b67f33;
    text-shadow: var(--color-text-base) -1px 1px 1px, var(--color-text-base)
    1px 1px 1px, var(--color-text-base) -1px -1px 1px, var(--color-text-base) 1px -1px 1px, #b67f33 0 0 3px
  }
  20% {
    color: #64dd17;
    text-shadow: var(--color-text-base) -1px 1px 1px, var(--color-text-base)
    1px 1px 1px, var(--color-text-base) -1px -1px 1px, var(--color-text-base) 1px -1px 1px, #64dd17 0 0 3px
  }
  40% {
    color: #22aa48;
    text-shadow: var(--color-text-base) -1px 1px 1px, var(--color-text-base)
    1px 1px 1px, var(--color-text-base) -1px -1px 1px, var(--color-text-base) 1px -1px 1px, #22aa48 0 0 3px
  }
  60% {
    color: #03a9f4;
    text-shadow: var(--color-text-base) -1px 1px 1px, var(--color-text-base)
    1px 1px 1px, var(--color-text-base) -1px -1px 1px, var(--color-text-base) 1px -1px 1px, #03a9f4 0 0 3px
  }
  80% {
    color: #b241e3;
    text-shadow: var(--color-text-base) -1px 1px 1px, var(--color-text-base)
    1px 1px 1px, var(--color-text-base) -1px -1px 1px, var(--color-text-base) 1px -1px 1px, #b241e3 0 0 3px
  }
  100% {
    color: #b67f33;
    text-shadow: var(--color-text-base) -1px 1px 1px, var(--color-text-base)
    1px 1px 1px, var(--color-text-base) -1px -1px 1px, var(--color-text-base) 1px -1px 1px, #b67f33 0 0 3px
  }
}

@keyframes a-reality-glyph-dot-cycle {
  0% {
    background: #b67f33;
  }
  20% {
    background: #64dd17;
  }
  40% {
    background: #22aa48;
  }
  60% {
    background: #03a9f4;
  }
  80% {
    background: #b241e3;
  }
  100% {
    background: #b67f33;
  }
}

@keyframes a-reality-glyph-tooltip-cycle {
  0% {
    border-color: #b67f33;
    box-shadow: 0 0 0.5rem #b67f33, 0 0 0.5rem #b67f33 inset
  }
  20% {
    border-color: #64dd17;
    box-shadow: 0 0 0.5rem #64dd17, 0 0 0.5rem #64dd17 inset
  }
  40% {
    border-color: #22aa48;
    box-shadow: 0 0 0.5rem #22aa48, 0 0 0.5rem #22aa48 inset
  }
  60% {
    border-color: #03a9f4;
    box-shadow: 0 0 0.5rem #03a9f4, 0 0 0.5rem #03a9f4 inset
  }
  80% {
    border-color: #b241e3;
    box-shadow: 0 0 0.5rem #b241e3, 0 0 0.5rem #b241e3 inset
  }
  100% {
    border-color: #b67f33;
    box-shadow: 0 0 0.5rem #b67f33, 0 0 0.5rem #b67f33 inset
  }
}

@keyframes a-reality-glyph-tooltip-header-cycle {
  0% {
    border-color: #b67f33;
    box-shadow: 0 0 0.5rem 0.1rem #b67f33, 0 0 0.8rem #b67f33 inset
  }
  20% {
    border-color: #64dd17;
    box-shadow: 0 0 0.5rem 0.1rem #64dd17, 0 0 0.8rem #64dd17 inset
  }
  40% {
    border-color: #22aa48;
    box-shadow: 0 0 0.5rem 0.1rem #22aa48, 0 0 0.8rem #22aa48 inset
  }
  60% {
    border-color: #03a9f4;
    box-shadow: 0 0 0.5rem 0.1rem #03a9f4, 0 0 0.8rem #03a9f4 inset
  }
  80% {
    border-color: #b241e3;
    box-shadow: 0 0 0.5rem 0.1rem #b241e3, 0 0 0.8rem #b241e3 inset
  }
  100% {
    border-color: #b67f33;
    box-shadow: 0 0 0.5rem 0.1rem #b67f33, 0 0 0.8rem #b67f33 inset
  }
}
