@font-face {
  font-family: Typewriter;
  src: url('MonospaceTypewriter.ttf');
}

*:focus {
  outline: none;
}

.t-normal #ui-container {
  --color-text: white;
  --color-base: #1d1b22;
  --color-accent: rgb(223, 80, 80);
  --color-good: #1bbb36;
  --color-good-dark: #138626;
}

body.t-normal {
  position: relative;
  color: white;
  background-color: #111014;
}

#page {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Typewriter, serif;
  background: none;
  height: 100%;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 20rem;
  position: fixed;
  z-index: 5;
}

.sidebar:hover .subtabs,
.sidebar:hover .l-tab-btn-inner,
.sidebar:hover .o-tab-btn,
.sidebar:hover .o-tab-btn::after {
  transition-delay: 0s;
}

.resource {
  height: 60px;
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-base);
  border-right: 0.1rem solid var(--color-accent);
  border-bottom: 0.1rem solid var(--color-accent);
  padding: 10px;
}

.resource img {
  height: 20px;
}

.resource h2 {
  margin: 0;
  color: var(--color-accent);
  font-size: 1.7em;
  z-index: 1;
  text-align: left;
}

.t-dark .resource h2,
.t-dark-metro .resource h2 {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.8);
}

.resource-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  justify-content: space-between;
  font-size: 1.5em;
}

.resource-gain {
  font-size: 0.7em;
  color: var(--color-text);
}

.resource-name {
  font-size: 0.8em;
}

.t-dark #antimatter {animation: a-game-header__antimatter--glow 25s infinite;}
.o-sidebar-infinity-button  { color: var(--color-infinity) !important }
.o-sidebar-eternity-button  { color: var(--color-eternity) !important }
.o-sidebar-reality-button { color: var(--color-reality) !important }

.resource-infinity-canreset,
.resource-eternity-canreset {
  background-color: black;
  cursor: pointer;
  transition-duration: 0.15s;
}

.resource-infinity-canreset:hover,
.resource-eternity-canreset:hover {
  background-color: rgb(49, 49, 49)
}

.o-tab-btn {
  height: 46px;
  border-width: 0.1rem;
  border-radius: 0;
  margin-top: -1px;
  font-size: 1.3em;
  position: relative;
  transition-duration: 0.15s;
  transition-delay: 0.2s;
}

.sidebar > .o-tab-btn {
  border-left: none;
}

.l-tab-btn-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.o-tab-btn:hover .subtabs {
  opacity: 1;
  pointer-events: all;

  left: 223px;
}

.o-tab-btn::after {
  content: '';
  position: absolute;
  left: 100%;
  top: -2%;
  width: 0;
  height: 0;
  border-bottom: 23px solid transparent;
  border-left: 0 solid var(--color-accent);
  border-top: 23px solid transparent;
  z-index: 4;
  transition-duration: 0.15s;
  transition-delay: 0.2s;
}

.o-tab-btn--subtabs:hover::after {
  border-left-width: 23px;
}

.o-tab-btn--infinity::after {
  border-left-color: var(--color-infinity);
}

.o-tab-btn--eternity::after {
  border-left-color: var(--color-eternity);
}

.o-tab-btn--reality::after {
  border-left-color: var(--color-reality);
}

.o-tab-btn--celestial::after {
  border-left-color: var(--color-celestials);
}

.tab-button.shop {
  background-color: #d9bb26;
}

.tab-button.shop:hover {
  background-color: #ffdd33;
}

.game-container {
  width: calc(100% - 20rem);
  margin-left: 20rem;
}

.t-s4 .game-container {
  border-radius: 0 !important;
}

.game-container h1, 
.game-container h2, 
.game-container h3, 
.game-container h4, 
.game-container h5,
.game-container h6 {
  color: var(--color-text);;
}

.l-reset-buttons-container {
  position: relative;
  min-height: 8rem;
}

.tab-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.tab-container > .l-normal-dim-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.l-normal-dim-tab {
  flex-grow: 1;
}

.l-challenge-grid {
  width: 100%;
}

.c-news-ticker {
  width: 100%;
  border-bottom: 0.1rem solid var(--color-accent);
  padding: 0.8rem 0;
  height: 3.9rem;
}

.c-news-line {
  color: var(--color-text);
}

.subtabs {
  display: flex;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -6px;
  left: 200px;
  z-index: 4;
  transition-duration: 0.15s;
  transition-delay: 0.2s;
  padding: 5px;
  padding-left: 0;
}

.o-tab-btn--subtab {
  height: 47px;
  width: 47px;
  font-size: 1.6em;
  font-weight: bold;
  margin-left: -1px;
  line-height: 4.5rem;
  cursor: pointer;
  transition-duration: 0.15s;
  user-select: none;
}

.o-tab-btn--subtab .fa-link {
  transform: rotate(45deg)
}

.active {
  background-color: #2c2933;
}

.l-dimensions-container {
  padding: 0.5rem 5rem 0.5rem 9rem; /* TOP RIGHT BOTTOM LEFT */
}

.o-primary-btn--new {
  background-color: var(--color-base);
  border: 0.1rem solid var(--color-good);
  padding: 1rem;
  color: var(--color-text);
  font-family: Typewriter, serif;
  border-radius: 0.5rem;
  position: relative;
  width: 17.5rem;
  height: 4.4rem;
  overflow: hidden;
}

.button-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.fill1 {
  height: 100%;
  width: 20%;
  background-color: var(--color-good);
  float: left;
}

.fill2 {
  height: 100%;
  width: 40%;
  background-color: var(--color-good-dark);
  float: left;
}

.modes-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin-top: 10px;
}

.resets-container {
  display: flex;
  justify-content: space-around;
  color: var(--color-text);
}

.reset-container h4 {
  margin: 0;
  font-size: 1.4rem;
  color: var(--color-text);
}

.reset-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.l-tickspeed-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem 0 9rem;
}

.l-tickspeed-container--hidden {
  visibility: hidden;
}

.tickspeed-labels {
  display: flex;
}

.tickspeed-btn {
  padding: 5px;
  width: 150px;
  height: 30px;
  font-size: 1.1rem;
}

.tickspeed-max-btn {
  padding: 5px;
  width: 100px;
  height: 30px;
}

.tickspeed-labels span {
  color: var(--color-text);;
  height: 30px;
  padding: 5px 10px;
}

.particle {
  position: absolute;
  color: var(--color-text);;
  height: 10px;
  width: 10px;
  background-image: url("../icon.png");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.sacrifice-btn {
  width: 350px;
  height: 30px;
  padding: 0;
}

.btn-big-crunch {
  padding: 20px;
  font-size: 5rem;
  border-radius: 5px;
  border: 2px solid var(--color-infinity);
  background-color: black;
  color: var(--color-infinity);
  font-family: Typewriter;
  transition-duration: 0.15s;
  cursor: pointer;
  z-index: 1;
}

.btn-big-crunch--small {
  position: absolute;
  top: 4.3rem;
  left: calc(50% - 0.6rem);
  transform: translateX(-50%);
  font-size: 3rem;
}

.btn-big-crunch:hover {
  background-color: var(--color-infinity);
  color: black;
}

.l-new-ui-big-crunch__container {
  margin-top: 2rem;
}

.information-header {
  color: var(--color-text);
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.1em;
}

/* FIXING OLD TABS */

.l-achievement-grid__cell {
  margin: -0.1rem -0.1rem;
}

.o-infinity-upgrade-btn--unavailable {
  background: #525252;
  color: white;
  border: 0.1rem solid var(--color-accent);
  cursor: default;
}

.o-infinity-upgrade-btn--unavailable:hover {
  background: #525252;
  color: white;
}

.o-infinity-upgrade-btn--bought {
  border: 0.1rem solid var(--color-accent);
  background: var(--color-good);
}

.o-primary-btn--option, .c-select-theme__item, .c-select-notation__item {
  background: var(--color-base);
  color: var(--color-text);
  border: 0.1rem solid var(--color-good);
}

.o-primary-btn {
  color: var(--color-text);
  background-color: var(--color-base);
  border-color: var(--color-good);
}

.o-primary-btn--disabled {
  background: #752626;
  border-color: var(--color-bad);
}

.c-challenge-box--normal {
  color: var(--color-text);
  background: var(--color-base);
  border: 0.1rem solid var(--color-accent);
}

.c-challenge-box--infinity {
  height: 15rem;
  color: white;
  background-color: #181818;
}

.c-challenge-box--eternity {
  height: 15rem;
  color: var(--color-eternity);
  background-color: black;
  border: 0.3rem solid var(--color-eternity);
  border-radius: 1rem;
}

.c-stats-tab {
  color: var(--color-text);
}

.o-autobuyer-input {
  background: var(--color-base);
  border: 0.1rem solid var(--color-accent);
  color: var(--color-accent);
}

.t-metro .o-autobuyer-input {
  color: black;
  border: 0.1rem solid #A9A9A9;
}

.t-dark .o-autobuyer-input,
.t-dark-metro .o-autobuyer-input {
  background-color: #455A64;
  border: 0.1rem solid black;
}

.t-s1 .o-autobuyer-input {
  background-color: var(--color-base);
  border: 0.1rem solid black;
}

.t-s6 .o-autobuyer-input {
  color: white;
  background-color: black;
  border: 0.1rem solid #888;
}

.o-autobuyer-btn {
  border: 0.1rem solid var(--color-accent);
}

.c-replicanti-description__accent {
  color: #2196f3
}

.c-dim-row__name {
  font-size: 2rem;
}

.c-normal-dim-row,
.c-infinity-dim-row,
.c-time-dim-row {
  color: var(--color-text);
  font-weight: bold;
  margin: 0;
  padding: 0.5rem 0 0.5rem 1rem;
  border-radius: 0.5rem;
}

.c-normal-dim-row:nth-child(even) {
  background-color: rgba(223, 80, 80, 0.3);
}

.t-metro .c-normal-dim-row:nth-child(even),
.t-inverted-metro .c-normal-dim-row:nth-child(even),
.t-s8 .c-normal-dim-row:nth-child(even) {
  background-color: rgba(33, 150, 243, 0.3);
}

.c-normal-dim-row__multiplier {
  font-size: 1.4rem
}

.c-infinity-dim-description__accent {
  color: var(--color-infinity);
}

.l-infinity-dim-tab {
  padding: 1rem 0;
}

.c-infinity-dim-row:nth-child(even) {
  background: rgba(182, 127, 51, 0.3);
}

.t-metro .c-infinity-dim-row:nth-child(even),
.t-dark-metro .c-infinity-dim-row:nth-child(even),
.t-inverted-metro .c-infinity-dim-row:nth-child(even),
.t-s8 .c-infinity-dim-row:nth-child(even) {
  background: rgba(255, 152, 0, 0.3);
}

.c-infinity-dim-row__multiplier {
  font-size: 1.4rem
}

.o-primary-btn--buy-id-max,
.o-primary-btn--id-autobuyer {
  height: 4.4rem;
}

.c-time-dim-description__accent {
  color: var(--color-eternity);
}

.l-time-dim-tab {
  padding: 2rem 0;
}

.c-time-dim-row:nth-child(even) {
  background: rgba(179, 65, 224, 0.3);
}

.t-metro .c-time-dim-row:nth-child(even),
.t-dark-metro .c-time-dim-row:nth-child(even),
.t-inverted-metro .c-time-dim-row:nth-child(even),
.t-s8 .c-time-dim-row:nth-child(even) {
  background: rgba(103, 58, 183, 0.3);
}

.c-time-dim-row__multiplier {
  font-size: 1.4rem
}

.o-primary-btn--buy-td-max,
.o-primary-btn--td-autobuyer {
  height: 4.4rem;
}

.l-reality-upgrade-btn {
  width: 15.6rem;
  margin: 0.5rem;
}

.l--spoon-btn-group__little-spoon-reality-btn {
  width: 15.6rem;
  align-self: center;
  margin-top: -0.2rem;
}

.resource-eternity-canreset > div {
  height: 100%;
}

.o-eternity-button__eternity-text {
  color: var(--color-eternity);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}

.l-game-header__big-crunch-btn {
  top: 15%;
  left: 72%;
} 
.l-game-header__eternity-btn {
  top: 15%;
  right: 72%;
}

.l-game-header__new-dim-btn {
  top: 15%;
  right: 72%;
}

.l-game-header__infinity-points {
  left: 72%;
  top: 8.5rem;
}

.l-game-header__eternity-points {
  right: 72%;
  top: 8.5rem;
}


.l-reset-buttons-container__reality-button {
  margin-top: 1.7rem;
  margin-bottom: 0;
}

.l-new-header__amounts-container {
  position: relative;
}

.l-reset-buttons-container {
  position: absolute;
  top: 0;
  width: 100%;
}

.l-game-header__antimatter-container {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

.c-achievements-tab__timer {
  color: white;
}

.c-game-header__ip-amount {
  color: var(--color-infinity);
}

.c-game-header__ep-amount {
  color: var(--color-eternity);
}

.c-game-header__antimatter {
  color: var(--color-accent);
}

.c-dilation-tab__tachyons,
.c-dilation-tab__dilated-time,
.c-dilation-tab__dilated-time-income,
.c-dilation-tab__galaxy-threshold,
.c-dilation-tab__galaxies {
  color: #64dd17;
}

.o-tachyon-particle {
  fill: white;
}

.c-progress-bar {
  width: 80%;
  margin: 2rem 10%;
}

.o-primary-btn--respec-active {
  background-color: var(--color-good);
}

.o-primary-btn--respec-active:hover {
  color: white;
}

.l-equipped-glyphs {
  justify-content: flex-end;
}

.l-help-me {
  position: absolute;
  top: 4.9rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1.5rem;
  transition-delay: 0s;
}

.t-metro .l-help-me,
.t-dark-metro .l-help-me,
.t-inverted-metro .l-help-me,
.t-s8 .l-help-me {
  border-radius: 0;
}