.c-old-ui {
  padding: 0.9rem 1.5rem 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.l-old-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-old-ui__news-bar {
  flex: 0 0 auto;
  width: 75%;
}

.l-old-ui__header {
  width: 100%;
}

.l-old-ui__big-crunch-btn {
  margin-top: 1.9rem;
  flex-shrink: 0;
}

.l-old-ui__big-crunch-btn--overlay {
  position: absolute;
}

.l-old-ui__page {
  width: 100%;
  flex: 1 0 auto;
}

.l-old-ui__footer {
  padding-bottom: 0.9rem
}

.l-old-ui-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.o-emptiness {
  font-size: 1.8rem;
}

.o-big-crunch-btn {
  font-family: Typewriter, serif;
  font-size: 5rem;
  width: 36rem;
  height: 10rem;
}

.l-old-ui-normal-dim-tab {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.t-metro .o-tab-btn,
.t-dark-metro .o-tab-btn,
.t-inverted-metro .o-tab-btn,
.t-s8 .o-tab-btn {
  border-width: 0.1rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0 #9E9E9E;
  border-radius: 0;
}

.t-dark-metro .o-tab-btn {
  box-shadow: 0.1rem 0.1rem 0.1rem 0 black;
}

.t-s4 .o-tab-btn {
  cursor: url(cursor2.cur), auto;
}

.t-s8 .o-tab-btn {
  box-shadow: none;
}

.o-tab-btn--secondary {
  font-size: 1.3rem;
  width: 17.5rem;
  height: 2.5rem;
}

.c-news-ticker {
  border: 0.2rem solid black;
  border-radius: 0.4rem;
  padding: 0.2rem 0;
  height: 3rem;
}

.t-metro .c-news-ticker,
.t-inverted-metro .c-news-ticker,
.t-dark-metro .c-news-ticker,
.t-s6 .c-news-ticker,
.t-s8 .c-news-ticker {
  border-width: 0.1rem;
}

.t-dark .c-news-ticker {
  border-color: #546e7a;
  background-color: #455a64;
}

.t-dark-metro .c-news-ticker {
  background-color: #455a64;
}

.t-s1 .c-news-ticker {
  background-color: #dbd242
}

.t-s6 .c-news-ticker {
  background-color: black;
}

.c-news-line {
  color: var(--color-text);
}