body.t-s8 {
    background: url('../images/s8-bg.jpg') no-repeat;
    color: black;
    background-color: white;
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.t-s8 .container {
    color: black;
}

/*metro  theme with less box shadows*/


.t-s8 input, .t-s8 select {
    border: 0.1rem solid #A9A9A9;
}

.t-s8 .c-tt-buy-button--unlocked {
  background: #212121;
  color: #00BCD4;
  border: 0.1rem solid #00BCD4;
}

.t-s8 .c-tt-buy-button--unlocked:hover {
  color: #212121;
  background: #00BCD4;
}

.t-s8 .c-tt-buy-button--locked {
  background: #9E9E9E;
  border: none;
  box-shadow: 1px 1px 1px 0 #000;
}

.t-s8 .c-tt-buy-button--locked:hover {
  background: #EF5350;
}