.radial-progress, .circle, .mask full, .fill, .fill fix, .inset{
    border-radius: 50% !important;
}

.t-metro input, .t-metro select {
    border: 1px solid #A9A9A9;
}

.t-metro .popup {
    border: 1px solid black !important;
}

.t-metro .secondarytabbtn {
    background: #EEEEEE;
    border: 1px solid #2196F3;
    box-shadow: 1px 1px 1px 0px #9E9E9E;
    border-radius: 0;
}

.t-metro .secondarytabbtn:hover {
    background: #2196F3;
    border: 1px solid #2196F3;
}

.t-metro .unavailablebtn {
    background: #9E9E9E;
    border: 1px solid #EF5350;
    box-shadow: 1px 1px 1px 0px #9E9E9E;
}

.t-metro .unavailablebtn:hover {
    background: #EF5350;
}

.t-metro .infinitytabbtn {
    border: 1px solid #FF9800;
    background: #1F1F1F;
    box-shadow: 1px 1px 1px 0px #9E9E9E;
}

.t-metro .infinitytabbtn:hover {
    background: #FF9800;
    border: 1px solid #FF9800;
}

.t-metro .eternitytabbtn {
    color: #673AB7;
    background: #000;
    border: 1px solid #673AB7;
    box-shadow: 1px 1px 1px 0px #9E9E9E;
}

.t-metro .eternitytabbtn:hover {
    background: #FFF;
    border: 1px solid #673AB7;
}

.t-metro .c-rm-amount {
  color: #0b600e;
}

.t-metro .c-tt-buy-button--unlocked {
  background: #212121;
  color: #00BCD4;
  border: 1px solid #00BCD4;
}

.t-metro .c-tt-buy-button--unlocked:hover {
  color: #212121;
  background: #00BCD4;
}

.t-metro .c-tt-buy-button--locked {
  background: #9E9E9E;
  border: none;
  box-shadow: 1px 1px 1px 0px #000;
}

.t-metro .c-tt-buy-button--locked:hover {
  background: #EF5350;
}

.t-metro #theorembuybackground {
    background: #EEEEEE !important;
    border-width: 1px !important;
}

.t-metro .realitytabbtn {
    background: white !important;
    border: 1px solid #0b600e !important;
    display: none;
}

.t-metro .realitytabbtn:hover {
    background-color: #0b600e !important;
    border: 1px solid #0b600e !important;
    color: white;
}

@keyframes metroStudyGlowIn {
    0%  {box-shadow: inset 0px 0px 3px 0px #673AB7;}
    50% {box-shadow: inset 0px 0px 20px 0px #673AB7;}
    100%  {box-shadow: inset 0px 0px 3px 0px #673AB7;}
}
