body.t-s8 {
    background: url('../images/s8-bg.jpg') no-repeat;
    color: black;
    background-color: white;
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.t-s8 .container {
    color: black;
}

.t-s8 .c-rm-amount {
  color: black;
  color: #0b600e;
}

.t-s8 .glyphDescriptions {
    border-color: black;
}

/*metro  theme with less box shadows*/

.radial-progress, .circle, .mask full, .fill, .fill fix, .inset{
    border-radius: 50%;
}

.t-s8 input, .t-s8 select {
    border: 1px solid #A9A9A9;
}

.t-s8 .popup {
    border: 1px solid black;
}

.t-s8 .secondarytabbtn {
    background: #EEEEEE;
    border: 1px solid #2196F3;
    border-radius: 0;
}

.t-s8 .secondarytabbtn:hover {
    background: #2196F3;
    border: 1px solid #2196F3;
}

.t-s8 .storebtn {
    background: #EEEEEE;
    border: 1px solid #66BB6A;
    border-radius: 0;
}

.t-s8 .storebtn:hover {
    background: #66BB6A;
}

.t-s8 .unavailablebtn {
    background: #9E9E9E;
    border: 1px solid #EF5350;
}

.t-s8 .unavailablebtn:hover {
    background: #EF5350;
}

.t-s8 .infinitytabbtn {
    border: 1px solid #FF9800;
    background: #1F1F1F;
}

.t-s8 .infinitytabbtn:hover {
    background: #FF9800;
    border: 1px solid #FF9800;
}

.t-s8 .eternitytabbtn {
    color: #673AB7;
    background: #000;
    border: 1px solid #673AB7;
}

.t-s8 .eternitytabbtn:hover {
    background: #FFF;
    border: 1px solid #673AB7;
}

.t-s8 .c-tt-buy-button--unlocked {
  background: #212121;
  color: #00BCD4;
  border: 1px solid #00BCD4;
}

.t-s8 .c-tt-buy-button--unlocked:hover {
  color: #212121;
  background: #00BCD4;
}

.t-s8 .c-tt-buy-button--locked {
  background: #9E9E9E;
  border: none;
  box-shadow: 1px 1px 1px 0px #000;
}

.t-s8 .c-tt-buy-button--locked:hover {
  background: #EF5350;
}

.t-s8 #theorembuybackground {
    background: #EEEEEE;
    border-width: 1px;
}

.t-s8 .realitytabbtn {
    background: white;
    border: 1px solid #0b600e;
    display: none;
}

.t-s8 .realitytabbtn:hover {
    background-color: #0b600e;
    border: 1px solid #0b600e;
    color: white;
}
