html {
  background: url('../images/s5-bg.jpg');
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 150%;
}

body.t-s5 {
  color: black;
  text-shadow: 0.5px 0.5px 0 black;
  background: none;
  filter: sepia(100%) hue-rotate(0deg) saturate(100%);
}