body.t-inverted-metro {
    background-color: black;
}

.t-inverted-metro #container {
    filter: invert(100%);
}

.t-inverted-metro #realityanimbg {
    filter: invert(1);
}

.t-inverted-metro .c-rm-amount {
    color: #0b600e;
}

.t-inverted-metro .c-tt-buy-button--unlocked {
  background: #212121;
  color: #00BCD4;
  border: 1px solid #00BCD4;
}

.t-inverted-metro .c-tt-buy-button--unlocked:hover {
  color: #212121;
  background: #00BCD4;
}

.t-inverted-metro .c-tt-buy-button--locked {
  background: #9E9E9E;
  border: none;
  box-shadow: 1px 1px 1px 0 #000;
}

.t-inverted-metro .c-tt-buy-button--locked:hover {
  background: #EF5350;
}