.t-metro input, .t-metro select {
    border: 1px solid #A9A9A9;
}

.t-metro .infinitytabbtn {
    border: 1px solid #FF9800;
    background: #1F1F1F;
    box-shadow: 1px 1px 1px 0 #9E9E9E;
}

.t-metro .infinitytabbtn:hover {
    background: #FF9800;
    border: 1px solid #FF9800;
}

.t-metro .eternitytabbtn {
    color: #673AB7;
    background: #000;
    border: 1px solid #673AB7;
    box-shadow: 1px 1px 1px 0 #9E9E9E;
}

.t-metro .eternitytabbtn:hover {
    background: #FFF;
    border: 1px solid #673AB7;
}

.t-metro .c-rm-amount {
  color: #0b600e;
}

.t-metro .c-tt-buy-button--unlocked {
  background: #212121;
  color: #00BCD4;
  border: 1px solid #00BCD4;
}

.t-metro .c-tt-buy-button--unlocked:hover {
  color: #212121;
  background: #00BCD4;
}

.t-metro .c-tt-buy-button--locked {
  background: #9E9E9E;
  border: none;
  box-shadow: 1px 1px 1px 0 #000;
}

.t-metro .c-tt-buy-button--locked:hover {
  background: #EF5350;
}

.t-metro .realitytabbtn {
    background: white !important;
    border: 1px solid #0b600e !important;
}

.t-metro .realitytabbtn:hover {
    background-color: #0b600e !important;
    border: 1px solid #0b600e !important;
    color: white;
}

@keyframes metroStudyGlowIn {
    0%  {box-shadow: inset 0 0 3px 0 #673AB7;}
    50% {box-shadow: inset 0 0 20px 0 #673AB7;}
    100%  {box-shadow: inset 0 0 3px 0 #673AB7;}
}
