body {
    background-image: url('../images/dark-bg.png');
    background-position: center; 
}

* {
    border-radius: 0px !important;
    border-width: 1px !important;
}

.radial-progress, .circle, .mask full, .fill, .fill fix, .inset{
    border-radius: 50% !important;
}

.container {
    color: #757575 !important;
}

.popup {
    background-color: #455A64 !important;
    box-shadow: 0px 0px 10px 0px black !important;
}

#news {
    color: #E0E0E0 !important;
}

#game {
    border: 1px solid black !important;
    background-color: #455A64;
}

input {
    background-color: #455A64 !important;
    border: 1px solid black !important;
}

.tabbtn {
    color: #E0E0E0 !important;
    background: #455A64 !important;
    border: 1px solid #1E88E5 !important;
    box-shadow: 1px 1px 1px 0px black;
}

.tabbtn:hover {
    background: #1E88E5 !important;
}

.secondarytabbtn {
    color: #E0E0E0 !important;
    background: #455A64 !important;
    border: 1px solid #1E88E5 !important;
    box-shadow: 1px 1px 1px 0px black;
}

.secondarytabbtn:hover {
    background: #1E88E5 !important;
}

.storebtn {
    background: #455A64 !important;
    border: 1px solid #43A047 !important;
    box-shadow: 1px 1px 1px 0px black;
}

.storebtn:hover {
    background: #43A047 !important;
}

.unavailablebtn {
    background: #37474F !important;
    border: 1px solid #E53935 !important;
    box-shadow: 1px 1px 1px 0px black;
}

.unavailablebtn:hover {
    background: #E53935 !important;
}

.infinitytabbtn {
    color: black !important;
    background: white !important;
    border: 1px solid #FF9800 !important;
    box-shadow: 1px 1px 1px 0px black;
}

.infinitytabbtn:hover {
    background: #FF9800 !important;
}

.eternitytabbtn {
    color: #673AB7 !important;
    background: black !important;
    border: 1px solid #673AB7 !important;
    box-shadow: 1px 1px 1px 0px black;
}

.eternitytabbtn:hover {
    background: white !important;
    box-shadow: 1px 1px 1px 0px black;
}

.RMAmount1 {
    color: #0b600e;
}

.timetheorembtn {
    background: #212121 !important;
    color: #00BCD4 !important;
    border: 1px solid #00BCD4 !important;
}

.timetheorembtn:hover {
    color: #212121 !important;
    background: #00BCD4 !important;
}

.timetheorembtnlocked {
    background: #9E9E9E !important;
    border: none !important;
    box-shadow: 1px 1px 1px 0px #000;
}

.timetheorembtnlocked:hover {
    background: #E53935 !important;
}

#theorembuybackground {
    background: #455A64 !important;
    border-width: 1px !important;
}

.realitytabbtn {
    background-color: white !important;
    border: 1px solid #0b600e !important;
    color: #0b600e !important;
}

.realitytabbtn:hover {
    background-color: #0b600e !important;
    color: white !important;
}

#realitymachines {
    color: #757575 !important;
}

#realityanimbg {
    filter: invert(1);
}