body.t-dark {
    background-image: url('../images/dark-bg.png');
    background-position: center;
}

input.t-dark {
    background-color: #455A64;
    border: 1px solid black;
}

.t-dark .container {
    color: #888888;
}

.t-dark .c-rm-amount {
    color: #0b600e;
    text-shadow: 0 0 7px #0b600e;
}

.t-dark .c-tt-amount {
    color: #64DD17;
    text-shadow: 0 0 7px #64DD17;
}

.t-dark .c-tt-buy-button--unlocked {
  color: #3AACD6;
  background: #161616;
  border: 1px solid #3AACD6;
}

.t-dark .c-tt-buy-button--unlocked:hover {
  color: #161616;
  background: #3AACD6;
}

.t-dark .c-tt-buy-button--locked {
  background: #263238;
  border: 1px solid #3AACD6;
}

.t-dark .c-tt-buy-button--locked:hover {
  background: #B84B5F;
  border: 1px solid #B84B5F;
}

.t-dark .c-rm-amount__desc {
    color: #757575;
}

.t-dark #realityanimbg {
    filter: invert(1);
}
