body.t-inverted {
    background-color: black;
}

.t-inverted #container,
.t-inverted #page,
.t-inverted .l-notification-container,
.t-inverted .c-modal,
.t-inverted #TTbuttons {
  filter: invert(100%);
}

.t-inverted #realityanimbg {
  filter: invert(1);
}