body {
    background-color: black !important;
}

#container {
    filter: invert(100%);
}

.popup {
    filter: invert(100%);
}

#realityanimbg {
    filter: invert(1);
}

* {
    border-radius: 0px !important;
    border-width: 1px !important;
}

.radial-progress, .circle, .mask full, .fill, .fill fix, .inset{
    border-radius: 50% !important;
}

input, select {
    border: 1px solid #A9A9A9;
}

.popup {
    border: 1px solid black !important;
}

#game {
    border: 1px solid black !important;
}

.tabbtn {
    background: #EEEEEE !important;
    border: 1px solid #2196F3 !important;
    box-shadow: 1px 1px 1px 0px #9E9E9E;
}

.tabbtn:hover {
    background: #2196F3 !important;
    border: 1px solid #2196F3 !important;
}

.secondarytabbtn {
    background: #EEEEEE !important;
    border: 1px solid #2196F3 !important;
    box-shadow: 1px 1px 1px 0px #9E9E9E;
}

.secondarytabbtn:hover {
    background: #2196F3 !important;
    border: 1px solid #2196F3 !important;
}

.storebtn {
    background: #EEEEEE !important;
    border: 1px solid #66BB6A !important;
    box-shadow: 1px 1px 1px 0px #9E9E9E;
}

.storebtn:hover {
    background: #66BB6A !important;
}

.unavailablebtn {
    background: #9E9E9E !important;
    border: 1px solid #EF5350 !important;
    box-shadow: 1px 1px 1px 0px #9E9E9E;
}

.unavailablebtn:hover {
    background: #EF5350 !important;
}

.infinitytabbtn {
    border: 1px solid #FF9800 !important;
    background: #1F1F1F !important;
    box-shadow: 1px 1px 1px 0px #9E9E9E;
}

.infinitytabbtn:hover {
    background: #FF9800 !important;
    border: 1px solid #FF9800 !important;
}

.eternitytabbtn {
    color: #673AB7 !important;
    background: #000 !important;
    border: 1px solid #673AB7 !important;
    box-shadow: 1px 1px 1px 0px #9E9E9E;
}

.eternitytabbtn:hover {
    background: #FFF !important;
    border: 1px solid #673AB7 !important;
}

.RMAmount1 {
    color: #0b600e;
}

.timetheorembtn {
    background: #212121 !important;
    color: #00BCD4 !important;
    border: 1px solid #00BCD4 !important;
}

.timetheorembtn:hover {
    color: #212121 !important;
    background: #00BCD4 !important;
}

.timetheorembtnlocked {
    background: #9E9E9E !important;
    border: none !important;
    box-shadow: 1px 1px 1px 0px #000;
}

.timetheorembtnlocked:hover {
    background: #EF5350 !important;
}

#theorembuybackground {
    background: #EEEEEE !important;
    border-width: 1px !important;
}

.realitytabbtn {
    background: white !important;
    border: 1px solid #0b600e !important;
    display: none;
}

.realitytabbtn:hover {
    background-color: #0b600e !important;
    border: 1px solid #0b600e !important;
    color: white;
}

#realitymachine {
    border: 1px solid #0b600e !important;
}