#stars {
    display: block !important;
    position: fixed;
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
  
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1000;
    transform: translate(-50%,-50%);
}

body {
    background: black !important;
}

button {
    color: #E0E0E0;
    background-color: black !important;
    border: 1px solid white;
    box-shadow: 0px 0px 7px 2px #111111;
}

.popup {
    color: #E0E0E0 !important;
    background-color: black!important;
    border: 1px solid #1B5E20 !important;
    box-shadow: 0px 0px 15px 0px black !important;
}

strong {
    color: #E0E0E0 !important;
}

.storebtn {
    color: #FFF !important;
    background-color: black !important;
    box-shadow: 0px 0px 7px 2px #111111;
}

.storebtn:hover {
    background: #1B5E20 !important;
}

input {
    color: white !important;
    background-color: black !important;
    border: 1px solid grey !important;
}

#news {
    color: #E0E0E0 !important;
}

#game {
    border: 1px solid grey !important;
    background-color: #000000;
}

.container {
    color: #999 !important;
}

.tabbtn {
    border: 2px solid #1565C0 !important;
    text-shadow: 0px 0px 10px white;
}

.tabbtn:hover {
    background: #1565C0 !important;
    color: black !important;
}

.secondarytabbtn:hover {
    background: #1565C0 !important;
    color: black !important;
}

.secondarytabbtn {
    border: 2px solid #1565C0 !important;
    text-shadow: 0px 0px 10px white;
}

.unavailablebtn {
    color: grey !important;
    background-color: black !important;
}

.unavailablebtn:hover {
    color: black !important;
    background: #B84B5F !important;
}

.storebtn:hover {
    color: #FFF !important;
}

.eternitytabbtn {
    color: #b341e0 !important;
    background: black !important;
    border: 2px solid #b341e0 !important;
}

.eternitytabbtn:hover {
    color: #511568 !important;
    background: white !important;
}

.TheoremAmount {
    color: #64DD17 !important;
    text-shadow: 0px 0px 7px #64DD17;
}

#timetheorems, #studytreeloadsavetext, #minimizeArrow {
    color: grey !important;
}

.timetheorembtn {
    color: #3AACD6 !important;
    background: black !important;
    border: 1px solid #3AACD6 !important;
}

.timetheorembtn:hover {
    color: black !important;
    background: #3AACD6 !important;
}

.timetheorembtnlocked {
    color: grey !important;
    background: black !important;
    border: 1px solid grey !important;
}

.timetheorembtnlocked:hover {
    color: black !important;
    background: #B84B5F !important;
    border: 1px solid #B84B5F !important;
}

#theorembuybackground {
    border: 1px solid #3AACD6 !important;
    background: black !important;
}

.greedbtn {
    background-color: #f2d729 !important;
    color: black !important;
}

.greedbtn:hover {
    background-color: #9E913A !important;
}

.realitytabbtn {
    background-color: white !important;
    border: 2px solid #0b600e !important;
}

.realitytabbtn:hover {
    color: white  !important;
    background-color: #0b600e !important;
    border: 2px solid #0b600e !important;
}

#realitymachines {
    color: #999 !important;
}

.RMAmount1 {
    color: #0b600e !important;
    text-shadow: 0px 0px 7px #0b600e;
}

.c-reality-upgradee:hover {
    background-color: #d5ffd7 !important;
}

.rUpgUn:hover {
    background-color: #656565 !important;
    color: #d5ffd7 !important;
}

.rUpgBought {
    background-color: #0b600e !important;
    border-color: #094E0B !important;
}

.rUpgBought:hover {
    color: #d5ffd7 !important;
    background-color: #0b600e !important;
}

.automatorinstruction.command {
    background-color: black !important;
}

.automatorinstruction.target {
    background-color: black !important;
}

.automatorinstruction.command:hover {
    background-color: #d5ffd7 !important;
}

.automatorinstruction.target:hover {
    background-color: #BBDEFB !important;
}

.automatorinstructionbought.command {
    background-color: #0b600e !important;
}

.automatorinstructionbought.target {
    background-color: #2196F3 !important;
}

.automatorinstructionlocked.command {
    background-color: #656565 !important;
}

.automatorinstructionlocked.target {
    background-color: #656565 !important;
}

#realityanimbg {
    filter: invert(1);
}