.l-time-studies-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 10rem;
}

.l-time-studies-tab__tree {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.l-time-study-options {
  display: flex;
  flex-direction: row;
}

.l-time-study-options > * {
  margin: 0.2rem;
}

.l-time-study-tree {
  position: relative;
}

.l-time-study {
  position: absolute;
  z-index: 1;
}

.l-time-study-connection {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

/*#region o-time-study*/

.o-time-study {
  border: 0.1rem solid;
  background-color: black;
  font-weight: bold;
  font-family: Typewriter, serif;
  width: 17rem;
  height: 8rem;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1.0rem;
  animation: a-time-study 7s infinite;
}

.o-time-study--extra {
  animation: a-time-study 1.5s infinite;
}

.o-time-study:hover {
  animation: none;
}

.t-dark .o-time-study {
  background-color: black;
}

.t-metro .o-time-study,
.t-dark-metro .o-time-study,
.t-inverted-metro .o-time-study,
.t-s8 .o-time-study {
  border-radius: 0;
}

@keyframes a-time-study {
  0%   { box-shadow: inset 0 0 0.3rem 0 }
  50%  { box-shadow: inset 0 0 2rem 0 }
  100% { box-shadow: inset 0 0 0.3rem 0 }
}

.o-time-study--small {
  width: 12rem;
  font-size: 0.9rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.o-time-study--normal {
  color: #b341e0;
  border-color: #b341e0;
}

.o-time-study--normal:hover {
  color: #dadada;
  background-color: #3a0a57;
}

.t-metro .o-time-study--normal,
.t-dark-metro .o-time-study--normal,
.t-inverted-metro .o-time-study--normal,
.t-s8 .o-time-study--normal {
  color: #673ab7;
  border-color: #673ab7;
}

.t-metro .o-time-study--normal:hover,
.t-dark-metro .o-time-study--normal:hover,
.t-inverted-metro .o-time-study--normal:hover,
.t-s8 .o-time-study--normal:hover {
  color: #eeeeee;
  background-color: #673ab7
}

.t-dark .o-time-study--normal,
.t-s6 .o-time-study--normal {
  color: #b341e0;
}

.t-dark .o-time-study--normal:hover,
.t-s6 .o-time-study--normal:hover {
  color: #dadada;
  background-color: #3a0a57;
}

.t-s1 .o-time-study--normal {
  color: #639565;
  border-color: #639565;
}

.t-s1 .o-time-study--normal:hover {
  color: #232028;
  background-color: #639565;
}

.o-time-study--normal-dim {
  color: #22aa48;
  border-color: #198036;
}

.o-time-study--normal-dim:hover {
  color: #eeeeee;
  background-color: #22aa48;
}

.o-time-study--infinity-dim {
  color: #b67f33;
  border-color: #8b6227;
}

.o-time-study--infinity-dim:hover {
  color: #eeeeee;
  background-color: #b67f33;
}

.o-time-study--time-dim {
  color: #b241e3;
  border-color: #951ec8;
}

.o-time-study--time-dim:hover {
  color: #eeeeee;
  background-color: #b241e3;
}

.o-time-study--active {
  color: #e60000;
  border-color: #cc0000;
}

.o-time-study--active:hover {
  color: #eeeeee;
  background-color: #e60000;
}

.o-time-study--passive {
  color: #5e33b6;
  border-color: #4b288f;
}

.o-time-study--passive:hover {
  color: #eeeeee;
  background-color: #5e33b6;
}

.o-time-study--idle {
  color: #0080ff;
  border-color: #0066cc;
}

.o-time-study--idle:hover {
  color: #eeeeee;
  background-color: #0080ff;
}

.o-time-study--dark,
.o-time-study--light:hover {
  color: white;
  background-color: black;
  border-color: white;
}

.t-dark .o-time-study--dark,
.t-dark .o-time-study--light:hover,
.t-s6 .o-time-study--dark,
.t-s6 .o-time-study--light:hover {
  color: white;
  background-color: black;
  border-color: white;
}

.o-time-study--light,
.o-time-study--dark:hover {
  color: black;
  background-color: white;
  border-color: black;
}

.t-dark .o-time-study--light,
.t-dark .o-time-study--dark:hover,
.t-s6 .o-time-study--light,
.t-s6 .o-time-study--dark:hover {
  color: black;
  background-color: white;
  border-color: black;
}

.o-time-study--eternity-challenge {
  color: #490066;
  background-color: white;
  border-color: black;
}

.t-dark .o-time-study--eternity-challenge,
.t-s6 .o-time-study--eternity-challenge {
  color: #490066;
  background-color: white;
  border-color: black;
}

.o-time-study--eternity-challenge:hover {
  color: white;
  background-color: #490066;
}

.o-time-study--dilation {
  color: #64dd17;
  background-color: black;
  border-color: #64dd17;
  animation: a-time-study--dilation 10s infinite;
}

.o-time-study--dilation:hover {
  color: #64DD17;
  background-color: white;
  animation: a-time-study--dilation 10s infinite;
}

.o-time-study--reality {
  color: var(--color-reality);
  background-color: white;
  border-color: var(--color-reality);
}

.t-dark .o-time-study--reality,
.t-s6 .o-time-study--reality {
  background-color: white;
}

.o-time-study--reality:hover {
  color: white;
  background-color: var(--color-reality);
}

@keyframes a-time-study--dilation {
  0%   { box-shadow: inset 0.5rem  0       2rem }
  25%  { box-shadow: inset 0       0.5rem  2rem }
  50%  { box-shadow: inset -0.5rem 0       2rem }
  75%  { box-shadow: inset 0       -0.5rem 2rem }
  100% { box-shadow: inset 0.5rem  0       2rem }
}

.t-dark .o-time-study--normal-dim:hover,
.t-s6 .o-time-study--normal-dim:hover {
  background-color: #0d401b;
}

.t-dark .o-time-study--infinity-dim:hover,
.t-s6 .o-time-study--infinity-dim:hover {
  background-color: #543b18;
}

.t-dark .o-time-study--time-dim:hover,
.t-s6 .o-time-study--time-dim:hover {
  background-color: #6a158e;
}

.t-dark .o-time-study--active:hover,
.t-s6 .o-time-study--active:hover {
  background-color: #e60000;
}

.t-dark .o-time-study--passive:hover,
.t-s6 .o-time-study--passive:hover {
  background-color: #5e33b6;
}

.t-dark .o-time-study--idle:hover,
.t-s6 .o-time-study--idle:hover {
  background-color: #0080ff;
}

.t-dark .o-time-study--light:hover,
.t-s6 .o-time-study--light:hover {
  background-color: black;
}

.t-dark .o-time-study--dark:hover,
.t-s6 .o-time-study--dark:hover {
  background-color: white;
}

.t-dark .o-time-study--eternity-challenge:hover,
.t-s6 .o-time-study--eternity-challenge:hover {
  background-color: #490066;
  color: white;
}

.t-dark .o-time-study--dilation:hover,
.t-s6 .o-time-study--dilation:hover {
  background-color: white;
}

.t-dark .o-time-study--reality:hover,
.t-s6 .o-time-study--reality:hover {
  background-color: var(--color-reality);
}

.o-time-study--unavailable {
  color: #181818;
  background-color: #5f5f5f;
  border-color: #691fa5;
  animation: none;
  cursor: default;
}

.o-time-study--unavailable:hover {
  animation: none;
  color: #1d1d1d;
  background: #660000;
}

.o-time-study--unavailable.o-time-study--light:hover,
.o-time-study--unavailable.o-time-study--dark:hover {
  border-color: #691fa5;
}

.t-metro .o-time-study--unavailable,
.t-inverted-metro .o-time-study--unavailable,
.t-s1 .o-time-study--unavailable,
.t-s8 .o-time-study--unavailable {
  box-shadow: 0.1rem 0.1rem 0.1rem 0 black;
}

.t-metro .o-time-study--unavailable,
.t-dark-metro .o-time-study--unavailable,
.t-inverted-metro .o-time-study--unavailable,
.t-s1 .o-time-study--unavailable,
.t-s8 .o-time-study--unavailable {
  color: black;
  background-color: #9e9e9e;
  border: none;
}

.t-metro .o-time-study--unavailable.o-time-study--normal-dim,
.t-dark-metro .o-time-study--unavailable.o-time-study--normal-dim,
.t-inverted-metro .o-time-study--unavailable.o-time-study--normal-dim,
.t-s1 .o-time-study--unavailable.o-time-study--normal-dim,
.t-s8 .o-time-study--unavailable.o-time-study--normal-dim {
  background-color: #94a89a;
}

.t-metro .o-time-study--unavailable.o-time-study--infinity-dim,
.t-dark-metro .o-time-study--unavailable.o-time-study--infinity-dim,
.t-inverted-metro .o-time-study--unavailable.o-time-study--infinity-dim,
.t-s1 .o-time-study--unavailable.o-time-study--infinity-dim,
.t-s8 .o-time-study--unavailable.o-time-study--infinity-dim {
  background-color: #a8a094;
}

.t-metro .o-time-study--unavailable.o-time-study--time-dim,
.t-dark-metro .o-time-study--unavailable.o-time-study--time-dim,
.t-inverted-metro .o-time-study--unavailable.o-time-study--time-dim,
.t-s1 .o-time-study--unavailable.o-time-study--time-dim,
.t-s8 .o-time-study--unavailable.o-time-study--time-dim {
  background-color: #a294a8;
}

.t-metro .o-time-study--unavailable.o-time-study--active,
.t-dark-metro .o-time-study--unavailable.o-time-study--active,
.t-inverted-metro .o-time-study--unavailable.o-time-study--active,
.t-s1 .o-time-study--unavailable.o-time-study--active,
.t-s8 .o-time-study--unavailable.o-time-study--active {
  background-color: #a89494;
}

.t-metro .o-time-study--unavailable.o-time-study--passive,
.t-dark-metro .o-time-study--unavailable.o-time-study--passive,
.t-inverted-metro .o-time-study--unavailable.o-time-study--passive,
.t-s1 .o-time-study--unavailable.o-time-study--passive,
.t-s8 .o-time-study--unavailable.o-time-study--passive {
  background-color: #9b94a8;
}

.t-metro .o-time-study--unavailable.o-time-study--idle,
.t-dark-metro .o-time-study--unavailable.o-time-study--idle,
.t-inverted-metro .o-time-study--unavailable.o-time-study--idle,
.t-s1 .o-time-study--unavailable.o-time-study--idle,
.t-s8 .o-time-study--unavailable.o-time-study--idle {
  background-color: #949ea8;
}

.t-metro .o-time-study--unavailable:hover,
.t-dark-metro .o-time-study--unavailable:hover,
.t-inverted-metro .o-time-study--unavailable:hover,
.t-s8 .o-time-study--unavailable:hover {
  background-color: #ef5350;
}

.t-s1 .o-time-study--unavailable:hover {
  background-color: #d72621;
}

.t-dark .o-time-study--unavailable,
.t-s6 .o-time-study--unavailable {
  background-color: #23292a;
}

.t-dark .o-time-study--unavailable  {
  color: black;
}

.t-s6 .o-time-study--unavailable {
  color: #808080;
}

.t-dark .o-time-study--unavailable:hover,
.t-s6 .o-time-study--unavailable:hover {
  background-color: var(--color-bad);
  border-color: var(--color-bad);
}

.t-dark .o-time-study--unavailable:hover,
.t-s6 .o-time-study--unavailable:hover {
  color: black;
}

.t-dark .o-time-study--unavailable.o-time-study--eternity-challenge,
.t-s6 .o-time-study--unavailable.o-time-study--eternity-challenge {
  border-color: #691fa5;
}

.o-time-study--bought {
  color: #1e0830;
  background-color: #0bd251;
  border-color: #691fa5;
  animation: none;
  cursor: default;
}

.t-metro .o-time-study--bought,
.t-dark-metro .o-time-study--bought,
.t-inverted-metro .o-time-study--bought,
.t-s8 .o-time-study--bought {
  color: black;
  background-color: #673ab7;
  border-color: black;
}

.t-metro .o-time-study--bought:hover,
.t-dark-metro .o-time-study--bought:hover,
.t-inverted-metro .o-time-study--bought:hover,
.t-s8 .o-time-study--bought:hover {
  color: black;
}

.t-dark .o-time-study--bought,
.t-s6 .o-time-study--bought {
  color: #1e0830;
  background-color: #8d48c3;
}

.t-dark .o-time-study--bought:hover,
.t-s6 .o-time-study--bought:hover {
  /* fuck you, Hevi*/
  background-color: #8d48c3;
}

.t-s1 .o-time-study--bought {
  color: #232028;
  border-color: #232028;
  background-color: #639565;
}

.o-time-study--bought.o-time-study--normal-dim {
  background-color: #22aa48;
}

.o-time-study--bought.o-time-study--infinity-dim {
  background-color: #b67f33;
}

.o-time-study--bought.o-time-study--time-dim {
  background-color: #b241e3;
}

.o-time-study--bought.o-time-study--active {
  background-color: #e60000;
}

.o-time-study--bought.o-time-study--passive {
  background-color: #5e33b6;
}

.o-time-study--bought.o-time-study--idle {
  background-color: #0080ff;
}

.o-time-study--bought.o-time-study--dark {
  color: black;
  background-color: white;
  border-color: black;
}

.o-time-study--bought.o-time-study--light {
  color: white;
  background-color: black;
  border-color: white;
}

.o-time-study--bought.o-time-study--eternity-challenge {
  color: black;
  background-color: #490066;
  border-color: black;
}

.o-time-study--bought.o-time-study--dilation {
  color: black;
  background-color: #64dd17;
  border-color: black;
  animation: none;
}

.o-time-study--bought.o-time-study--reality {
  color: white;
  background-color: var(--color-reality);
  border-color: var(--color-reality);
}

.t-metro .o-time-study--bought.o-time-study--eternity-challenge,
.t-dark-metro .o-time-study--bought.o-time-study--eternity-challenge,
.t-inverted-metro .o-time-study--bought.o-time-study--eternity-challenge,
.t-s8 .o-time-study--bought.o-time-study--eternity-challenge {
  background-color: #490066;
}

.t-dark .o-time-study--bought.o-time-study--normal-dim,
.t-s6 .o-time-study--bought.o-time-study--normal-dim {
  background-color: #22aa48;
  border-color: #198036;
}

.t-dark .o-time-study--bought.o-time-study--infinity-dim,
.t-s6 .o-time-study--bought.o-time-study--infinity-dim {
  background-color: #b67f33;
  border-color: #8b6227;
}

.t-dark .o-time-study--bought.o-time-study--time-dim,
.t-s6 .o-time-study--bought.o-time-study--time-dim {
  background-color: #b241e3;
  border-color: #951ec8;
}

.t-dark .o-time-study--bought.o-time-study--active,
.t-s6 .o-time-study--bought.o-time-study--active {
  background-color: #e60000;
  border-color: #cc0000;
}

.t-dark .o-time-study--bought.o-time-study--passive,
.t-s6 .o-time-study--bought.o-time-study--passive {
  background-color: #5e33b6;
  border-color: #4b288f;
}

.t-dark .o-time-study--bought.o-time-study--idle,
.t-s6 .o-time-study--bought.o-time-study--idle {
  background-color: #0080ff;
  border-color: #0066cc;
}

.t-dark .o-time-study--bought.o-time-study--dark,
.t-s6 .o-time-study--bought.o-time-study--dark {
  background-color: white;
  border-color: black;
}

.t-dark .o-time-study--bought.o-time-study--light,
.t-s6 .o-time-study--bought.o-time-study--light {
  background-color: black;
  border-color: white;
}

.t-dark .o-time-study--bought.o-time-study--eternity-challenge,
.t-s6 .o-time-study--bought.o-time-study--eternity-challenge {
  background-color: #490066;
  color: black;
}

.t-dark .o-time-study--bought.o-time-study--dilation,
.t-s6 .o-time-study--bought.o-time-study--dilation {
  background-color: #64dd17;
}

.t-dark .o-time-study--bought.o-time-study--reality,
.t-s6 .o-time-study--bought.o-time-study--reality {
  background-color: var(--color-reality);
}

.o-time-study--secret {
  opacity: 0;
  transition: opacity 2s 0.5s;
  cursor: pointer;
}

.o-time-study--secret-unlocked {
  opacity: 1;
  transition-delay: 0s;
  cursor: default;
}

.o-time-study--secret-enslaved {
  opacity: 0.02;
  background: #ead584;
  transition: opacity 2s 0.5s;
  cursor: pointer;
  animation: a-time-study 0.5s infinite;
}

/*#endregion o-time-study*/

.o-time-study-connection {
  /* This one should be px, because it rem svg behaves weirdly under scale */
  stroke-width: 16px;
  stroke: #444444;
  transition: stroke 0.3s;
}

.o-time-study-connection--normal-dim {
  stroke: #37533f;
}

.o-time-study-connection--infinity-dim {
  stroke: #534737;
}

.o-time-study-connection--time-dim {
  stroke: #4a3753;
}

.o-time-study-connection--active {
  stroke: #533737;
}

.o-time-study-connection--passive {
  stroke: #403753;
}

.o-time-study-connection--idle {
  stroke: #374553;
}

.o-time-study-connection--eternity-challenge {
  stroke: #4b3753;
}

.o-time-study-connection--dilation {
  stroke: #759362;
}

.o-time-study-connection--bought {
  stroke: black;
}

.t-dark .o-time-study-connection--bought,
.t-dark-metro .o-time-study-connection--bought,
.t-s6 .o-time-study-connection--bought {
  stroke: #bbbbbb;
}

.o-time-study-connection--bought.o-time-study-connection--normal-dim {
  stroke: #22aa48;
}

.o-time-study-connection--bought.o-time-study-connection--infinity-dim {
  stroke: #b67f33;
}

.o-time-study-connection--bought.o-time-study-connection--time-dim {
  stroke: #b241e3;
}

.o-time-study-connection--bought.o-time-study-connection--active {
  stroke: #ff0100;
}

.o-time-study-connection--bought.o-time-study-connection--passive {
  stroke: #5e33b6;
}

.o-time-study-connection--bought.o-time-study-connection--idle {
  stroke: #0080ff;
}

.o-time-study-connection--bought.o-time-study-connection--eternity-challenge {
  stroke: #490066;
}

.o-time-study-connection--bought.o-time-study-connection--dilation {
  stroke: #64dd17;
}

.o-time-study-connection--secret {
  transition: opacity 0.5s;
  opacity: 0;
}

.o-time-study-connection--secret-unlocked {
  transition-delay: 1.5s;
  opacity: 1;
}

.o-time-study--triad {
  width: 17rem;
  height: 8rem;
  border: none;
  border-radius: 0;
  background: #f1aa7f;
}

.o-time-study--unavailable.o-time-study--triad {
  background: #29180e;
  color: white;
}

.o-time-study--bought.o-time-study--triad {
  box-shadow: inset 0px 0px 20px black; 
}